<div class="card">
    <p-toast></p-toast>
    <p-table #dt [value]="employees" [paginator]="true" [rows]="5"
        [showCurrentPageReport]="true" responsiveLayout="scroll"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5,15,25]"
        [globalFilterFields]="['id','name','phoneNumber']">
        <ng-template pTemplate="caption">
            <div
                class="flex flex-wrap gap-2 align-items-center justify-content-between">
                <div>
                    <span
                        class="p-input-icon-left w-full sm:w-20rem flex-order-1 sm:flex-order-0 mr-3">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text"
                            (input)="onGlobalFilter(dt, $event)"
                            placeholder="{{ 'TRANSLATOR.SEARCH' | translate }}" class="w-full" />
                    </span>
                </div>
                <span>
                    <button pButton
                        class="sm:w-auto flex-order-0 mr-3 p-button-success"
                        icon="pi pi-filter" label="{{ 'TRANSLATOR.FILTER' | translate }}" (click)="toggle()"></button>
                    <p-overlay [(visible)]="overlayVisible" 
                        [responsive]="{ breakpoint: '640px', direction: 'top', contentStyleClass: 'h-20rem'}"
                        contentStyleClass="p-4 surface-overlay shadow-2 border-round">
                        <form [formGroup]="formFilter" (ngSubmit)="filterEmployee()">
                        <div>
                            <div>
                                <label for="country"
                                    class="font-medium text-900">{{ "FIELDS.GENDER" | translate }}</label>
                            </div>
                            <p-dropdown inputId="country" [options]="genders"
                                optionLabel="name" [filter]="true"
                                filterBy="name"
                                optionValue="code"
                                formControlName="Gender"
                                [showClear]="true" placeholder="Select a Gender">
                                <ng-template let-genders pTemplate="item">
                                    <div class="flex align-items-center">
                                        <div>{{genders.name}}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </div>
                        <div class="mt-4">
                            <div>
                                <label for="country"
                                    class="font-medium text-900">{{ "FIELDS.WORKSHIFT" | translate }}</label>
                            </div>
                            <p-dropdown inputId="country" [options]="workshifts"
                                optionLabel="name" [filter]="true"
                                filterBy="name"
                                optionValue="id"
                                formControlName="WorkShiftId"
                                [showClear]="true" placeholder="Select a Workshitf">
                                <ng-template let-workshifts pTemplate="item">
                                    <div class="flex align-items-center">
                                        <div>{{ workshifts.name}}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </div>
                        <div class="mt-4">
                            <p-button label="Primary" styleClass="p-button-rounded p-button-sm ml-5" label="{{ 'TRANSLATOR.SAVE' | translate }}" type="submit"></p-button>
                            <p-button label="Primary" styleClass="p-button-rounded ml-3 p-button-raised  p-button-text p-button-sm" label="{{ 'TRANSLATOR.RETURN' | translate }}" (onClick)="onInitApi()"></p-button>
                        </div>
                    </form>
                    </p-overlay>
                    <button pButton
                        class="sm:w-auto flex-order-0 sm:flex-order-1"
                        (click)="navigateToCreateEmployee()"><i class="pi pi-user-plus"></i><span class="ml-1">{{ "TRANSLATOR.ADD_NEW" | translate }}</span></button>
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id" class="white-space-nowrap"
                    style="width:25%">{{ "FIELDS.NO" | translate }} <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="name" class="white-space-nowrap"
                    style="width:25%">{{ "FIELDS.NAME" | translate }} <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="country.name" class="white-space-nowrap"
                    style="width:25%">{{ "FIELDS.GENDER" | translate }} <p-sortIcon field="country.name"></p-sortIcon></th>
                <th pSortableColumn="date" class="white-space-nowrap"
                    style="width:25%">{{ "FIELDS.BIRTH_DAY" | translate }} <p-sortIcon field="date"></p-sortIcon></th>
                <th pSortableColumn="representative.name"
                    class="white-space-nowrap" style="width:25%">{{ "FIELDS.PHONE" | translate }}
                    <p-sortIcon field="representative.name"></p-sortIcon></th>
                <th style="width:25%"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-employeeTest>
            <ng-container *ngIf="isSkeleton ; else showTable">
                <tr>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                </tr>
            </ng-container>
            <ng-template #showTable>
                <tr>
                    <td>{{employeeTest.id}}</td>
                    <td>{{employeeTest.name}}</td>
                    <td>{{employeeTest.gender ? "{{ 'FIELDS.MALE' | translate }}" :
                        employeeTest.gender===false ? "{{ 'FIELDS.FEMALE' | translate }}" : "Trống"}}</td>
                    <td>{{employeeTest.createdOn | date: 'MM/dd/yyyy, h:mm a'}}</td>
                    <td>{{employeeTest.phoneNumber}}</td>
                    <td>
                        <div class="flex">
                            <button pButton pRipple icon="pi pi-pencil"
                                class="p-button-rounded p-button-success mr-2"
                                (click)="navigateToEditEmployee(employeeTest.id)"></button>
                            <button pButton pRipple icon="pi pi-trash"
                                (click)="confirmDelete(employeeTest)"
                                class="p-button-rounded p-button-warning mr-2"></button>
                                <button pButton pRipple (click)="confirmResetPass(employeeTest)" class="p-button-rounded p-button-danger">
                                    <span class="reset-label">Reset </span>
                                    <i class="pi pi-key"></i>
                                  </button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </ng-template>
    </p-table>
    <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true"
        [style]="{width:'450px'}">
        <div class="flex align-items-center justify-content-center">
            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
            <span *ngIf="employee"> {{ 'TRANSLATOR.CONFIRM_DELETE' | translate }} <b>{{employee.name}}</b>?</span>
        </div>
        <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-times" class="p-button-text"
                label="No" (click)="deleteProductsDialog = false"></button>
            <button pButton pRipple icon="pi pi-check" class="p-button-text"
                (click)="deleteConfirmed()"
                label="Yes"></button>
        </ng-template>
    </p-dialog>
    <p-dialog [(visible)]="resetPassDialog" header="Confirm" [modal]="true"
        [style]="{width:'450px'}">
        <div class="flex align-items-center justify-content-center">
            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
            <span *ngIf="employee"> {{ 'TRANSLATOR.CONFIRM_DELETE' | translate }} <b>{{employee.name}}</b>?</span>
        </div>
        <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-times" class="p-button-text"
                label="{{ 'TRANSLATOR.RETURN' | translate }}" (click)="resetPassDialog = false"></button>
            <button pButton pRipple icon="pi pi-check" class="p-button-text"
                (click)="resetConfirmed()"
                label="{{ 'TRANSLATOR.SAVE' | translate }}"></button>
        </ng-template>
    </p-dialog>
</div>