<ng-template [ngIf]="formReset">
    <form
        (ngSubmit)="reset()"
        [formGroup]="formReset"
        class="surface-ground h-screen w-screen flex align-items-center justify-content-center"
        [ngClass]="{ 'p-input-filled': filledInput }"
    >
        <p-toast [key]="keyToast"></p-toast>
        <div
            class="surface-card py-5 px-5 sm:px-7 shadow-2 flex flex-column w-11 sm:w-30rem"
            style="border-radius: 14px"
        >
            <div class="flex ml-auto align-items-center mb-4 flex-wrap;">
                <span>Don't you have an account?</span>
                <button
                    class="btn btn-light border-round-2xl ml-2"
                    (click)="navigateToSignup()"
                >
                    SIGN UP
                </button>
            </div>
            <ng-container *ngIf="isSuccessReset === false; else resetSuccess">
                <div class="flex justify-content-center mt-5 mb-5">
                    <button
                        pButton
                        pRipple
                        icon="pi pi-key"
                        class="btn-key p-button-rounded p-button-help mr-2 mb-2"
                        style="
                            box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #d4aafb,
                                0 1px 2px 0 black;
                        "
                    ></button>
                </div>
                <h1 class="font-bold text-2xl mt-0 mb-4 text-center">
                    Set new password?
                </h1>
                <p class="text-color-secondary mb-4 text-center">
                    Your new password must be different to priviously used
                    passwords
                </p>
                <div class="w-full flex flex-column mb-4">
                    <div class="p-input-icon-left">
                        <i class="pi pi-envelope"></i>
                        <input
                            type="email"
                            pInputText
                            placeholder="Email"
                            formControlName="email"
                            class="w-full"
                            required
                        />
                    </div>
                    <span
                        *ngIf="
                            submitted && f['email'].invalid && f['email'].errors
                        "
                        class="text-red-500 mt-2 block"
                    >
                        Invalid email
                    </span>
                </div>
                <div class="w-full flex flex-column mb-4">
                    <div class="p-input-icon-left">
                        <i class="pi pi-key"></i>
                        <input
                            type="password"
                            pInputText
                            required
                            placeholder="Password"
                            formControlName="password"
                            class="w-full"
                        />
                    </div>
                    <span
                        *ngIf="
                            submitted &&
                            f['password'].invalid &&
                            f['password'].errors
                        "
                        class="text-red-500 mt-2 block"
                    >
                        Password enter at least 8 characters
                    </span>
                </div>
                <div class="w-full flex flex-column mb-4">
                    <div class="p-input-icon-left">
                        <i class="pi pi-key"></i>
                        <input
                            type="password"
                            pInputText
                            placeholder="ConfirmPassword"
                            formControlName="confirmPassword"
                            class="w-full"
                            required
                        />
                    </div>
                    <span
                        *ngIf="
                            submitted &&
                            f['confirmPassword'].invalid &&
                            f['confirmPassword'].errors &&
                            f['confirmPassword'].errors['minLength']
                        "
                        class="text-red-500 mt-2 block"
                    >
                        Password enter at least 8 characters
                    </span>
                    <div
                        *ngIf="
                            f['confirmPassword'].invalid &&
                            (f['confirmPassword'].dirty ||
                                f['confirmPassword'].touched)
                        "
                        class="form-text text-danger"
                    >
                        <div
                            *ngIf="f['confirmPassword'].errors?.['confirmedValidator']"
                        >
                            Passwords did not match
                        </div>
                    </div>
                </div>
                <button
                    type="submit"
                    pButton
                    pRipple
                    class="p-button-help mb-4"
                    label="Reset Password"
                ></button>

                <div class="flex justify-content-center mb-4">
                    <button
                        class="btn btn-light px-4 py-2 border-round-xl"
                        (click)="navigateToLanding()"
                    >
                        &#8606; Back to Home
                    </button>
                </div>
            </ng-container>
            <ng-template #resetSuccess>
                <div class="flex justify-content-center mt-5 mb-5">
                    <button
                        pButton
                        pRipple
                        icon="pi pi-check"
                        class="btn-key p-button-rounded p-button-success mr-2 mb-2"
                        style="
                            box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #22c55e,
                                0 1px 2px 0 black;
                        "
                    ></button>
                </div>
                <h1 class="font-bold text-2xl mt-0 mb-2 text-center">
                    Password reset
                </h1>
                <div class="mb-4">
                    <p class="block mb-0 text-color-secondary text-center">
                        Your password has been successfully reset.
                    </p>
                    <p class="block text-color-secondary text-center">
                        Click below to log in magically
                    </p>
                </div>
                <button
                    (click)="navigateToLanding()"
                    pButton
                    pRipple
                    class="p-button-help mb-4"
                    label="Continue"
                ></button>
            </ng-template>
            <app-footer-login-types></app-footer-login-types>
        </div>
    </form>
</ng-template>
