<form
    (ngSubmit)="reset()"
    [formGroup]="formReset"
    class="surface-ground h-screen w-screen flex align-items-center justify-content-center"
    [ngClass]="{ 'p-input-filled': filledInput }"
>
    <p-toast [key]="keyToast"></p-toast>
    <div class="surface-card py-5 px-5 sm:px-7 shadow-2 flex flex-column w-11 sm:w-30rem" style="border-radius: 14px">
        <div class="flex ml-auto align-items-center mb-4 flex-wrap;">
            <span>{{ "AUTH.DO_NOT_HAVE_ACCOUNT" | translate }}</span>
            <button class="btn btn-light border-round-2xl ml-2" (click)="navigateToSignup()">{{ "TRANSLATOR.SIGN_UP" | translate }}</button>
        </div>
        <ng-container *ngIf="isSuccessReset === false; else resetSuccess">
            <div class="flex justify-content-center mt-5 mb-5">
                <button
                    pButton
                    pRipple
                    icon="pi pi-key"
                    class="btn-key p-button-rounded p-button-help mr-2 mb-2"
                    style="box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #d4aafb, 0 1px 2px 0 black"
                ></button>
            </div>
            <h1 class="font-bold text-2xl mt-0 mb-6 text-center">{{ "AUTH.SET_NEWPASSWORD" | translate }}</h1>
            <div class="w-full flex flex-column mb-4">
                <div class="p-input-icon-left">
                    <i class="pi pi-envelope"></i>
                    <input type="email" email pInputText placeholder="Email" formControlName="email" class="w-full" required />
                </div>
                <div *ngIf="(submitted || f['email'].touched) && f['email'].invalid && f['email'].errors" class="text-red-500 mt-2 block">
                    <div *ngIf="f['email'].errors['required']">
                        {{ "INVALID.EMAIL" | translate }}
                    </div>
                    <div *ngIf="f['email'].errors['pattern']">
                        {{ "INVALID.FORMAT_EMAIL" | translate }}
                    </div>
                </div>
            </div>
            <div class="w-full flex flex-column mb-4">
                <div class="p-input-icon-left">
                    <i class="pi pi-key"></i>
                    <input
                        type="password"
                        pInputText
                        placeholder="{{ 'FIELDS.PASSWORD' | translate }}"
                        formControlName="password"
                        class="w-full"
                        required
                        formControlName="password"
                        [pKeyFilter]="rgPassword"
                    />
                </div>
                <div *ngIf="f['password'].invalid && (f['password'].touched || submitted) && f['password'].errors" class="text-red-500 mt-2 block">
                    <div *ngIf="f['password'].hasError('minlength')">{{ "INVALID.MIN_LENGTH_PASSWORD" | translate }}</div>
                    <div *ngIf="f['password'].errors['required']">{{ "INVALID.PASSWORD" | translate }}</div>
                </div>
            </div>
            <div class="w-full flex flex-column mb-4">
                <div class="p-input-icon-left">
                    <i class="pi pi-key"></i>
                    <input
                        type="password"
                        pInputText
                        class="w-full"
                        placeholder="{{ 'FIELDS.CONFIRM_PASSWORD' | translate }}"
                        formControlName="confirmPassword"   
                        required
                        pKeyFilter="alphanum"
                    />
                </div>
                <div
                    *ngIf="f['confirmPassword'].invalid && (f['confirmPassword'].touched || submitted) && f['confirmPassword'].errors"
                    class="text-red-500 mt-2 block"
                >
                    <div *ngIf="f['confirmPassword'].hasError('minlength')">{{ "INVALID.MIN_LENGTH_PASSWORD" | translate }}</div>
                    <div *ngIf="f['confirmPassword'].errors['required']">{{ "INVALID.PASSWORD" | translate }}</div>
                </div>

                <div
                    *ngIf="f['confirmPassword'].invalid && (f['confirmPassword'].dirty || f['confirmPassword'].touched)"
                    class="form-text text-danger"
                >
                    <div *ngIf="f['confirmPassword'].errors?.['confirmedValidator']" class="text-red-500 mt-2 block">
                        {{ "INVALID.NOT_MATCH_PASSWORD" | translate }}
                    </div>
                </div>
            </div>
            <button
                type="submit"
                [disabled]="formReset.invalid"
                pButton
                pRipple
                class="p-button-help mb-4"
                label="{{ 'AUTH.RESET_PASSWORD' | translate }}"
            ></button>

            <div class="flex justify-content-center mb-4">
                <button class="btn btn-light px-4 py-2 border-round-xl" (click)="navigateToLanding()">&#8606; {{ "BTN.BACK" | translate }}</button>
            </div>
        </ng-container>
        <ng-template #resetSuccess>
            <div class="flex justify-content-center mt-5 mb-5">
                <button
                    pButton
                    pRipple
                    icon="pi pi-check"
                    class="btn-key p-button-rounded p-button-success mr-2 mb-2"
                    style="box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #22c55e, 0 1px 2px 0 black"
                ></button>
            </div>
            <h1 class="font-bold text-2xl mt-0 mb-2 text-center">{{ "AUTH.RESET_PASSWORD" | translate }}</h1>
            <div class="mb-4">
                <p class="block mb-0 text-color-secondary text-center">{{ "AUTH.TITLE_RESET_PASSWORD_SUCC" | translate }}</p>
                <p class="block text-color-secondary text-center">{{ "AUTH.SIGN_IN_CONTINUE" | translate }}</p>
            </div>
            <button
                type="button"
                (click)="navigateToLanding()"
                pButton
                pRipple
                class="p-button-help mb-4"
                label="{{ 'BTN.CONTINUE' | translate }}"
            ></button>
        </ng-template>
    </div>
</form>
