<div class="topbar-profile ml-2">
    <button
        class="topbar-profile-button p-link"
        type="button"
        pStyleClass="@next"
        enterClass="hidden"
        enterActiveClass="scalein"
        leaveToClass="hidden"
        leaveActiveClass="fadeout"
    >
        <img alt="avatar" class="max-w-4rem" src="assets/layout/images/avatar.png" />
    </button>
    <ul class="list-none p-3 m-0 border-round shadow-2 hidden absolute surface-overlay origin-top sm:w-12rem mt-2 right-0 top-auto list-profile">
        <li>
            <a
                (click)="navigateProfile()"
                routerLinkActive="router-link-active"
                pRipple
                class="flex p-2 border-round align-items-center hover:surface-hover transition-colors transition-duration-150 cursor-pointer"
            >
                <i class="pi pi-user mr-3"></i>
                <span>Profile</span>
            </a>
            <a pRipple class="flex p-2 border-round align-items-center hover:surface-hover transition-colors transition-duration-150 cursor-pointer">
                <i class="pi pi-cog mr-3"></i>
                <span>Settings</span>
            </a>
            <div class="menu-item" data-kt-menu-trigger="hover" data-kt-menu-placement="left-start" data-kt-menu-flip="bottom">
                <a class="menu-link cursor-pointer p-2 hover:surface-hover transition-colors transition-duration-150 cursor-pointer">
                    <span class="menu-title position-relative">
                        <img class="rounded-1 mr-3" [src]="language?.flag" alt="metronic" />
                        {{ "TRANSLATOR.LANGUAGE" | translate }}
                    </span>
                </a>

                <div class="menu-sub menu-sub-dropdown w-175px py-2 shadow-2">
                    <div
                        *ngFor="let l of langs"
                        class="menu-item cursor-pointer hover:surface-hover transition-colors transition-duration-150 cursor-pointer"
                        (click)="selectLanguage(l.lang)"
                        [ngClass]="l.lang === language?.lang ? 'active' : ''"
                    >
                        <a class="menu-link d-flex px-5">
                            <span class="symbol symbol-20px me-4">
                                <img class="rounded-1" [src]="l.flag" alt="metronic" />
                            </span>
                            {{ l.name }}
                        </a>
                    </div>
                </div>
            </div>
            <a
                (click)="logOut()"
                pRipple
                class="flex p-2 border-round align-items-center hover:surface-hover transition-colors transition-duration-150 cursor-pointer"
            >
                <i class="pi pi-power-off mr-3"></i>
                <span>{{ "TRANSLATOR.SIGN_OUT" | translate }}</span>
            </a>
        </li>
    </ul>
</div>
