<div class="card">
    <span class="text-80 text-xl font-bold mb-4 block"
        >Detail Customer Profile</span
    >
    <div class="grid">
        <div class="col-12 lg:col-1"></div>
        <div
            class="col-12 lg:col-9 pl-8 flex flex-column justify-content-start"
        >
            <div class="field w-field mb-4 col-12 flex align-items-center">
                <label for="name" class="font-medium text-900 mr-3"
                    >ID <span class="text-red-500 text-900">*</span></label
                >
                <input
                    id="name"
                    type="text"
                    [value]="customerId"
                    pInputText
                    [disabled]="true"
                    class="w-6"
                />
            </div>
            <div class="field w-field mb-4 col-12 flex align-items-center">
                <label for="name" class="font-medium text-900 mr-3"
                    >Name <span class="text-red-500 text-900">*</span></label
                >
                <input
                    id="name"
                    type="text"
                    [value]="customer.customerName"
                    class="w-6"
                    pInputText
                    [disabled]="true"
                />
            </div>
            <div class="field w-field mb-4 col-12 flex align-items-center">
                <label for="phone-number" class="font-medium text-900 mr-3"
                    >Phone<span class="text-red-500 text-900">*</span></label
                >
                <input
                    id="phone-number"
                    type="text"
                    [value]="customer.phoneNumber"
                    class="w-6"
                    pInputText
                    [disabled]="true"
                />
            </div>
            <div class="field w-field mb-4 col-12 flex">
                <label for=" address" class="font-medium text-900 mr-3"
                    >Address</label
                >
                <textarea
                    id="address"
                    type="text"
                    [disabled]="true"
                    class="flex-1"
                    [value]="customer.address"
                    pInputTextarea
                    rows="3"
                    [autoResize]="true"
                ></textarea>
            </div>
            <div class="field w-field mb-4 col-12 flex align-items-center">
                <label for="birth-day" class="font-medium text-900 mr-3"
                    >BirthDay</label
                >
                <input
                    id="birth-day"
                    class="w-6"
                    type="text"
                    value="{{ customer.dateOfBirth | date : 'dd/MM/yyyy' }}"
                    pInputText
                    [disabled]="true"
                    name="dateOfBirth"
                />
            </div>
            <div class="field w-field mb-2 col-12 flex align-items-center">
                <label for="total-money" class="font-medium text-900 mr-3"
                    >Total Money</label
                >
                <input
                    id="total-money"
                    type="text"
                    [value]="customer.totalMoney | currency : 'VND'"
                    class="w-6"
                    pInputText
                    [disabled]="true"
                />
            </div>
            <div class="col-12">
                <button
                    pButton
                    icon="pi pi-angle-left"
                    pRipple
                    label="Back"
                    class="w-auto"
                    (click)="navigateToListCustomer()"
                ></button>
            </div>
        </div>
        <div class="col-12 lg:col-2">
            <p-button
                label="Booking History"
                icon="pi pi-plus"
                styleClass="p-button-raised flex ml-auto"
                (click)="showDialogBooking()"
            ></p-button>
        </div>
    </div>
</div>
<app-history-booking
    [customerId]="customerId"
    [dialogBooking]="dialogBooking"
    (controlDialog)="hideDialogBooking()"
></app-history-booking>
