<div class="card">
    <p-table
        #dt
        [value]="bookings"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        responsiveLayout="scroll"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 15, 25]"
        [globalFilterFields]="['id', 'customerName', 'bookingDate', 'status']"
        [resetPageOnSort]="resetPageOnSort"
    >
        <ng-template pTemplate="caption">
            <div class="flex flex-wrap gap-2 align-items-center justify-content-between">
                <span class="p-input-icon-left w-full sm:w-20rem flex-order-1 sm:flex-order-0">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" class="w-full" />
                </span>
                <button pButton class="p-button-outlined w-full sm:w-auto flex-order-0 sm:flex-order-1" icon="pi pi-calendar" label="Lịch"></button>
                <button
                    (click)="navigateToCreateBooking()"
                    pButton
                    class="p-button-outlined w-full sm:w-auto flex-order-0 sm:flex-order-1"
                    icon="pi pi-plus-circle"
                    label="{{ 'TRANSLATOR.ADD_NEW' | translate }}"
                ></button>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id" class="white-space-nowrap" style="width: 15%"> {{ "MANAGE_BRANCH.CODE" | translate }}<p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="customerName" class="white-space-nowrap" style="width: 20%">
                    {{ "FIELDS.NAME" | translate }}<p-sortIcon field="customerName"></p-sortIcon>
                </th>
                <th pSortableColumn="phone_number" class="white-space-nowrap" style="width: 15%">
                    {{ "FIELDS.PHONE" | translate }}<p-sortIcon field="phone_number"></p-sortIcon>
                </th>
                <th pSortableColumn="bookingDate" class="white-space-nowrap" style="width: 20%">
                    {{ "FIELDS.BOOKING_DATE" | translate }}<p-sortIcon field="bookingDate"></p-sortIcon>
                </th>
                <th pSortableColumn="date_of_birth" class="white-space-nowrap" style="width: 25%">
                    {{ "FIELDS.FROM_TO" | translate }}<p-sortIcon></p-sortIcon>
                </th>
                <th pSortableColumn="status" class="white-space-nowrap" style="width: 25%"></th>
                <th></th>
                <th></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-booking>
            <ng-container *ngIf="isSkeleton; else elseTemplate">
                <tr>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                </tr>
            </ng-container>
            <ng-template #elseTemplate>
                <tr>
                    <td (click)="navigateToDetailBooking(booking)">{{ booking.id }}</td>
                    <td (click)="navigateToDetailBooking(booking)">{{ booking.customerName }}</td>
                    <td>{{ booking.phoneNumber }}</td>
                    <td>{{ booking.bookingDate | date : "dd/MM/yyyy" }}</td>
                    <td>
                        {{ booking.fromTime | date : "hh:mm" }} -
                        {{ booking.totime | date : "hh:mm" }}
                        {{ booking.fromTime | date : "dd/MM/yyyy" }}
                    </td>
                    <td>{{ booking.status === 1 ? "Waiting" : booking.status === 2 ? "Inprogress" : "Done" }}</td>
                    <td class="text-center">
                        <div class="flex justify-content-center">
                            <p-confirmDialog
                                header="Delete booking with name = {{ booking.name }}"
                                key="confirm"
                                icon="pi pi-exclamation-triangle"
                                message="Are you sure you want to proceed?"
                                [style]="{ width: '350px' }"
                                acceptButtonStyleClass="p-button-text"
                                rejectButtonStyleClass="p-button-text"
                            ></p-confirmDialog>
                            <button
                                pButton
                                pRipple
                                icon="pi pi-pencil"
                                tooltipPosition="top"
                                pTooltip="Edit"
                                class="p-button-rounded p-button-success mr-2"
                                (click)="navigateToEditBooking(booking)"
                            ></button>
                            <button
                                pButton
                                pRipple
                                icon="pi pi-trash"
                                tooltipPosition="top"
                                pTooltip="Delete"
                                class="p-button-rounded p-button-warning"
                                (click)="showConfirmDelete(booking)"
                            ></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </ng-template>
    </p-table>
</div>
