.card {
    .row {
        .group-button-filter {
            text-align: right;
        }
        .p-inputtext {
            width: 100%;
        }
    }
}
.p-dropdown .p-dropdown-trigger {
    background: transparent;
    color: #6c757d;
    width: 3rem;
   
}