<p-toast></p-toast>
<p-dialog
    [(visible)]="isOpenModal"
    [style]="{ width: '450px' }"
    [header]="
        mode === modeEdit
            ? ('TRANSLATOR.EDIT' | translate)
            : ('TRANSLATOR.ADD_NEW' | translate)
    "
    [modal]="true"
    class="p-fluid"
>
    <ng-template pTemplate="content">
        <form [formGroup]="branchForm">
            <div class="field">
                <label class="required">{{
                    "MANAGE_BRANCH.TITLE" | translate
                }}</label>
                <input
                    formControlName="title"
                    type="text"
                    placeholder="{{ 'MANAGE_BRANCH.TITLE' | translate }}"
                    pInputText
                    class="form-control"
                    id="name"
                    [ngClass]="{
                        'ng-invalid ng-dirty':
                            submitted && controlBranchForm['title'].errors
                    }"
                />
                <small
                    class="p-error ng-dirty ng-invalid invalid-feedback"
                    *ngIf="submitted && controlBranchForm['title'].errors"
                    >{{ "MANAGE_BRANCH.VALID_TITLE" | translate }}</small
                >
            </div>
            <div class="field">
                <label class="required">{{
                    "MANAGE_BRANCH.COUNTRY" | translate
                }}</label>
                <p-dropdown
                    formControlName="countryId"
                    optionLabel="name"
                    optionValue="id"
                    [options]="countries"
                    placeholder="{{ 'MANAGE_BRANCH.COUNTRY' | translate }}"
                    (onChange)="selectCountry($event)"
                    [ngClass]="{
                        'ng-invalid ng-dirty':
                            submitted && controlBranchForm['countryId'].errors
                    }"
                >
                </p-dropdown>
                <small
                    class="p-error ng-dirty ng-invalid"
                    *ngIf="submitted && controlBranchForm['countryId'].errors"
                    >{{ "MANAGE_BRANCH.VALID_COUNTRY" | translate }}</small
                >
            </div>

            <div class="field">
                <label class="required">{{
                    "MANAGE_BRANCH.PROVINCE" | translate
                }}</label>
                <p-dropdown
                    formControlName="provinceId"
                    optionValue="id"
                    optionLabel="name"
                    [options]="provinces"
                    placeholder="{{ 'MANAGE_BRANCH.PROVINCE' | translate }}"
                    (onChange)="selectProvince($event)"
                    [ngClass]="{
                        'ng-invalid ng-dirty':
                            submitted && controlBranchForm['provinceId'].errors
                    }"
                >
                    <ng-template let-option pTemplate="item">
                        <span>{{ option.name }}</span>
                    </ng-template>
                </p-dropdown>
                <small
                    class="p-error ng-dirty ng-invalid"
                    *ngIf="submitted && controlBranchForm['provinceId'].errors"
                    >{{ "MANAGE_BRANCH.VALID_PROVINCE" | translate }}</small
                >
            </div>

            <div class="field">
                <label>{{ "MANAGE_BRANCH.DISTRICT" | translate }}</label>
                <p-dropdown
                    formControlName="districtId"
                    optionValue="id"
                    optionLabel="name"
                    [options]="districts"
                    placeholder="{{ 'MANAGE_BRANCH.DISTRICT' | translate }}"
                    (onChange)="selectDistrict($event)"
                >
                    <ng-template let-option pTemplate="item">
                        <span>{{ option.name }}</span>
                    </ng-template>
                </p-dropdown>
            </div>

            <div class="field">
                <label>{{ "MANAGE_BRANCH.WARD" | translate }}</label>
                <p-dropdown
                    formControlName="wardId"
                    optionValue="id"
                    optionLabel="name"
                    [options]="wards"
                    placeholder="{{ 'MANAGE_BRANCH.WARD' | translate }}"
                >
                    <ng-template let-option pTemplate="item">
                        <span>{{ option.name }}</span>
                    </ng-template>
                </p-dropdown>
            </div>
            <div class="field flex align-items-center">
                <label class="mb-0 mr-2">{{
                    "MANAGE_BRANCH.ISACTIVE" | translate
                }}</label>
                <p-checkbox
                    type="checkbox"
                    formControlName="isActive"
                ></p-checkbox>
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <button
            pButton
            pRipple
            icon="pi pi-times"
            class="p-button-text"
            (click)="hideDialog()"
        >
            <span class="ml-1">{{ "BTN.CANCEL" | translate }}</span>
        </button>
        <button
            pButton
            pRipple
            icon="pi pi-check"
            class="p-button-primary"
            (click)="saveProduct()"
        >
            <span class="ml-1">{{ "BTN.SAVE" | translate }}</span>
        </button>
    </ng-template>
</p-dialog>
