<div class="card">
    <p-toast key="bc"></p-toast>
    <span class="text-90 text-xl font-bold mb-4 block">{{ "TRANSLATOR.ADD_NEW" | translate }}</span>
    <div class="grid">
        <div class="col-12 lg:col-2">
            <div class="text-900 font-medium text-xl mb-3">{{ "AUTH.PROFILE" | translate }}</div>
            <p class="m-0 p-0 text-600 line-height-3 mr-3">Odio euismod lacinia at quis risus sed vulputate odio.</p>
        </div>
        <div class="col-12 lg:col-10">
            <form [formGroup]="formAddNewCustomer" (ngSubmit)="onSubmit()">
                <div class="grid formgrid p-fluid">
                    <div class="field mb-4 col-12">
                        <label class="font-medium text-900">ID </label>
                        <input type="text" pInputText [disabled]="true" />
                    </div>
                    <div class="field mb-4 col-12">
                        <label for="name" class="font-medium text-900"
                            >{{ "FIELDS.NAME" | translate }} <span class="text-red-500 text-900">*</span></label
                        >
                        <input pInputText id="name" [pKeyFilter]="rgName" formControlName="customerName" />
                        <div
                            *ngIf="f['customerName'].invalid && (f['customerName'].touched || submitted) && f['customerName'].errors"
                            class="text-red-500 mt-2 block"
                        >
                            <div *ngIf="f['customerName'].errors['required']">
                                {{ "INVALID.NAME" | translate }}
                            </div>
                        </div>
                    </div>
                    <div class="field mb-4 col-12">
                        <label for="phone-number" class="font-medium text-900"
                            >{{ "FIELDS.PHONE" | translate }} <span class="text-red-500 text-900">*</span></label
                        >
                        <p-inputMask mask="9999999999" slotChar="" formControlName="phoneNumber" [showClear]="true" [autoClear]="false"></p-inputMask>
                        <div
                            *ngIf="f['phoneNumber'].invalid && (f['phoneNumber'].touched || submitted) && f['phoneNumber'].errors"
                            class="text-red-500 mt-2 block"
                        >
                            <div *ngIf="f['phoneNumber'].errors['required']">{{ "INVALID.PHONE" | translate }}</div>
                            <div *ngIf="f['phoneNumber'].hasError('minlength')">{{ "INVALID.MIN_LENGTH_PHONE" | translate }}</div>
                        </div>
                        <div class="text-red-500 mt-2 block" *ngIf="f['phoneNumber'].hasError('formatPhoneValidator')">
                            {{ "INVALID.FORMAT_NUMBER" | translate }}.
                        </div>
                    </div>
                    <div class="field mb-4 col-12">
                        <label for="address" class="font-medium text-900">{{ "FIELDS.ADDRESS" | translate }}</label>
                        <textarea
                            id="address"
                            type="text"
                            [pKeyFilter]="rgAddress"
                            formControlName="address"
                            pInputTextarea
                            rows="2"
                            [autoResize]="true"
                        ></textarea>
                    </div>
                    <div class="field mb-4 col-12 sm:col-12 md:col-7">
                        <label class="font-medium text-900">{{ "FIELDS.BIRTH_DAY" | translate }}</label>
                        <p-calendar
                            dateFormat="dd/mm/yy"
                            [showIcon]="true"
                            [minDate]="minDate"
                            [maxDate]="maxDate"
                            [defaultDate]="maxDate"
                            formControlName="dateOfBirth"
                            [readonlyInput]="true"
                        >
                        </p-calendar>
                    </div>
                    <div class="field mb-4 col-12">
                        <label class="font-medium text-900">{{ "FIELDS.TOTAL_MONEY" | translate }}</label>
                        <input [disabled]="true" inputId="integeronly" pInputText />
                    </div>

                    <div class="field mb-4 col-12">
                        <label for="username" class="font-medium text-900">{{ "FIELDS.USERNAME" | translate }} </label>
                        <input pInputText pKeyFilter="alphanum" formControlName="username" />
                    </div>
                    <div class="field mb-4 col-12">
                        <label for="password" class="font-medium text-900">{{ "FIELDS.PASSWORD" | translate }} </label>
                        <p-password formControlName="password" [toggleMask]="true" [feedback]="false" [pKeyFilter]="rgPassword"></p-password>
                       
                    </div>

                    <div class="col-12 flex">
                        <button
                            type="submit"
                            [loading]="isLoadingSubmit"
                            pButton
                            pRipple
                            label="{{ 'TRANSLATOR.ADD_NEW' | translate }}"
                            class="w-auto mt-3"
                        ></button>
                        <button
                            type="button"
                            icon="pi pi-times"
                            pButton
                            pRipple
                            label="{{ 'BTN.CANCEL' | translate }}"
                            class="w-auto mt-3 ml-3"
                            (click)="navigateToListCustomer()"
                        ></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
