<p-toast></p-toast>
<div class="card">
    <form [formGroup]="formFilter">
        <div class="row grid p-fluid">
            <div class="col-12 sm:col-3">
                <input pInputText type="text"
                    placeholder="{{ 'FIELDS.NAME' | translate }}"
                    formControlName="keyword" />
            </div>
            <div class="col-12 sm:col-3">
                <p-dropdown
                    placeholder="{{ 'FIELDS.TIME' | translate }}"
                    formControlName="time"
                    optionValue="time"
                    optionLabel="time"
                    emptyFilterMessage="Không tìm thấy dữ liệu"
                    emptyMessage="Không tìm thấy dữ liệu"
                    [options]="serviceTimes"
                    [showClear]="true">
                </p-dropdown>
            </div>
            <div class="col-12 sm:col-3">
                <p-dropdown
                    placeholder="{{ 'FIELDS.REVIEW' | translate }}"
                    formControlName="review"
                    optionValue="review"
                    optionLabel="review"
                    emptyFilterMessage="Không tìm thấy dữ liệu"
                    emptyMessage="Không tìm thấy dữ liệu"
                    [options]="reviews"
                    [filter]="true"
                    filterBy="review"
                    [showClear]="true">
                </p-dropdown>
            </div>
        </div>
        <div class="row">
            <div class="col-12 group-button-filter">
                <button
                    pButton
                    pRipple
                    label="{{ 'TRANSLATOR.SEARCH' | translate }}"
                    class="w-auto mr-2 mb-2"
                    icon="pi pi-search"
                    (click)="filterService()"></button>
                <button
                    pButton
                    pRipple
                    label="{{ 'BTN.REMOVE_CONDITION' | translate }}"
                    class="w-auto mr-2 mb-2"
                    (click)="clearFilter()"
                    icon="pi pi-exclamation-triangle"></button>
            </div>
        </div>
    </form>
</div>
<div class="card">
    <p-table
        #dt
        [value]="services"
        [paginator]="true"
        [rows]="5"
        [lazy]="true"
        (onLazyLoad)="filter($event)"
        [totalRecords]="totalRecords"
        [first]="firstPaging"
        [showCurrentPageReport]="true"
        responsiveLayout="scroll"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 15, 25]"
        [globalFilterFields]="['id', 'name', 'phoneNumber']">
        <ng-template pTemplate="caption">
            <div
                class="flex flex-wrap gap-2 align-items-center justify-content-between">
                <div></div>
                <span>
                    <button pButton
                        class="sm:w-auto flex-order-0 sm:flex-order-1">
                        <i class="pi pi-user-plus"></i><span class="ml-1">{{
                            "TRANSLATOR.ADD_NEW" | translate }}</span>
                    </button>
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id" class="white-space-nowrap"
                    style="width: 10%">
                    {{ "TRANSLATOR.NO" | translate }} <p-sortIcon field="id"></p-sortIcon>
                </th>
                <th pSortableColumn="name" class="white-space-nowrap"
                    style="width: 20%">
                    {{ "FIELDS.NAME" | translate }} <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th pSortableColumn="country.name" class="white-space-nowrap"
                    style="width: 20%">
                    {{ "FIELDS.IMAGE" | translate }} <p-sortIcon
                        field="country.name"></p-sortIcon>
                </th>
                <th pSortableColumn="date" class="white-space-nowrap"
                    style="width: 20%">
                    {{ "FIELDS.PRICE" | translate }} <p-sortIcon
                        field="date"></p-sortIcon>
                </th>
                <th pSortableColumn="representative.name"
                    class="white-space-nowrap" style="width: 15%">
                    {{ "FIELDS.TIME" | translate }} <p-sortIcon
                        field="representative.name"></p-sortIcon>
                </th>
                <th pSortableColumn="representative.name"
                    class="white-space-nowrap" style="width: 20%">
                    {{ "FIELDS.REVIEW" | translate }} <p-sortIcon
                        field="representative.name"></p-sortIcon>
                </th>
                <th style="width: 20%"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-services>
            <ng-container *ngIf="isSkeleton; else showTable">
                <tr>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                </tr>
            </ng-container>
            <ng-template #showTable>
                <tr>
                    <td>{{ services.id }}</td>
                    <td>{{ services.name }}</td>
                    <td class="image-container">
                        <img #image
                            (error)="image.src = 'assets/layout/images/empty-default.png'"
                            [src]="services.image ? services.image : 'assets/layout/images/blank.png'"
                            alt="Trống" />
                    </td>
                    <td>{{ services.price | number }}₫</td>
                    <td>{{ services.time}} {{ "FIELDS.MINUTE" | translate }}</td>
                    <td> <p-rating [ngModel]="services.review" [readonly]="true"
                            [cancel]="false"></p-rating></td>
                    <td>
                        <div class="flex">
                            <button
                                pButton
                                pRipple
                                icon="pi pi-pencil"
                                class="p-button-rounded p-button-success mr-2"></button>
                            <button
                                pButton
                                pRipple
                                icon="pi pi-trash"
                                (click)="confirmDelete(services)"
                                class="p-button-rounded p-button-warning mr-2"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </ng-template>
    </p-table>
    <p-dialog [(visible)]="deleteProductsDialog"
        header="{{'MANAGE_BRANCH.CONFIRM' | translate}}" [modal]="true"
        [style]="{ width: '450px' }">
        <div class="flex align-items-center justify-content-center">
            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
            <span *ngIf="service">
                {{ "TRANSLATOR.CONFIRM_DELETE" | translate }} <b>{{
                    service.name }}</b>?</span>
        </div>
        <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-times" class="p-button-text"
                label="{{'BTN.CANCEL' | translate}}"
                (click)="deleteProductsDialog = false"></button>
            <button pButton pRipple icon="pi pi-check" class="p-button-text"
                (click)="deleteConfirmed()" label="{{'BTN.SAVE' | translate}}"></button>
        </ng-template>
    </p-dialog>
</div>
