input[type="checkbox"] {
    width: 20px; /* Đổi kích thước tại đây để làm cho checkbox to hơn */
    height: 20px; /* Đổi kích thước tại đây để làm cho checkbox to hơn */
    border-radius: 30%; /* Đổi giá trị tại đây để bo tròn các cạnh */
  }
  .custom-checkbox:hover {
    cursor: pointer;
    border: 10px solid #0d6efd; /* Border màu xanh khi hover vào */
    border-radius: 10px;
  }
