<div class="card">
    <p-toast [key]="keyToast"></p-toast>
    <p-table
        #dt
        [value]="customers"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        responsiveLayout="scroll"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 15, 25]"
        [globalFilterFields]="['id', 'customerName', 'phoneNumber']"
        [resetPageOnSort]="resetPageOnSort"
    >
        <ng-template pTemplate="caption">
            <div
                class="flex flex-wrap gap-2 align-items-center justify-content-between"
            >
                <span
                    class="p-input-icon-left w-full sm:w-20rem flex-order-1 sm:flex-order-0"
                >
                    <i class="pi pi-search"></i>
                    <input
                        pInputText
                        type="text"
                        (input)="onGlobalFilter(dt, $event)"
                        placeholder="Global Search"
                        class="w-full"
                    />
                </span>
                <button
                    (click)="navigateToCreateCustomer()"
                    pButton
                    class="p-button-outlined w-full sm:w-auto flex-order-0 sm:flex-order-1"
                    icon="pi pi-user-plus"
                    label="Add New"
                ></button>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th
                    pSortableColumn="id"
                    class="white-space-nowrap"
                    style="width: 25%"
                >
                    ID<p-sortIcon field="id"></p-sortIcon>
                </th>
                <th
                    pSortableColumn="customerName"
                    class="white-space-nowrap"
                    style="width: 25%"
                >
                    Name <p-sortIcon field="customerName"></p-sortIcon>
                </th>
                <th
                    pSortableColumn="phone_number"
                    class="white-space-nowrap"
                    style="width: 25%"
                >
                    Phone<p-sortIcon field="phone_number"></p-sortIcon>
                </th>
                <th
                    pSortableColumn="address"
                    class="white-space-nowrap"
                    style="width: 25%"
                >
                    Address <p-sortIcon field="address"></p-sortIcon>
                </th>
                <th
                    pSortableColumn="date_of_birth"
                    class="white-space-nowrap"
                    style="width: 25%"
                >
                    BirthDay<p-sortIcon field="date_of_birth"></p-sortIcon>
                </th>
                <th
                    pSortableColumn="total_money"
                    class="white-space-nowrap"
                    style="width: 25%"
                >
                    Total Money<p-sortIcon field="total_money"></p-sortIcon>
                </th>
                <th class="white-space-nowrap" style="width: 25%"></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-customer>
            <ng-container *ngIf="isSkeleton; else elseTemplate">
                <tr>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                </tr>
            </ng-container>
            <ng-template #elseTemplate>
                <tr>
                    <td>{{ customer.id }}</td>
                    <td>{{ customer.customerName }}</td>
                    <td>{{ customer.phoneNumber }}</td>
                    <td>{{ customer.address }}</td>
                    <td>{{ customer.dateOfBirth | date : "dd/MM/yyyy" }}</td>
                    <td>{{ customer.totalMoney | currency : "VND" }}</td>
                    <td class="text-center">
                        <div class="flex justify-content-center">
                            <p-confirmDialog
                                header="Delete customer with name = {{
                                    customer.name
                                }}"
                                key="confirm"
                                icon="pi pi-exclamation-triangle"
                                message="Are you sure you want to proceed?"
                                [style]="{ width: '350px' }"
                                acceptButtonStyleClass="p-button-text"
                                rejectButtonStyleClass="p-button-text"
                            ></p-confirmDialog>
                            <button
                                pButton
                                pRipple
                                icon="pi pi-eye"
                                tooltipPosition="top"
                                pTooltip="Detail"
                                class="p-button-rounded p-button-secondary mr-2"
                                (click)="navigateToDeatailCustomer(customer)"
                            ></button>
                            <button
                                pButton
                                pRipple
                                icon="pi pi-pencil"
                                tooltipPosition="top"
                                pTooltip="Edit"
                                class="p-button-rounded p-button-success mr-2"
                                (click)="navigateToEditCustomer(customer)"
                            ></button>
                            <button
                                pButton
                                pRipple
                                icon="pi pi-trash"
                                tooltipPosition="top"
                                pTooltip="Delete"
                                class="p-button-rounded p-button-warning"
                                (click)="showConfirmDelete(customer)"
                            ></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </ng-template>
    </p-table>
</div>
