<div class="card">
    <form [formGroup]="formFilter" (ngSubmit)="filterCustomerNoOrderBy()">
        <div class="row grid p-fluid">
            <div class="col-12 sm:col-12 md:col-6 lg:col-3 xl:col-3">
                <input
                    pInputText
                    type="text"
                    placeholder="{{ 'FIELDS.NAME' | translate }}, {{ 'FIELDS.PHONE' | translate }}"
                    formControlName="keyword"
                    [pKeyFilter]="rgSearch"
                />
            </div>
        </div>

        <div class="row">
            <div class="col-12 group-button-filter">
                <button
                    type="submit"
                    pButton
                    pRipple
                    label="{{ 'TRANSLATOR.SEARCH' | translate }}"
                    class="w-auto mr-2 mb-2"
                    icon="pi pi-search"
                ></button>
                <button
                    type="button"
                    pButton
                    pRipple
                    label="Xóa điều kiện"
                    class="w-auto mr-2 mb-2"
                    (click)="clearFilter()"
                    icon="pi pi-exclamation-triangle"
                ></button>
            </div>
        </div>
    </form>
</div>
<div class="card">
    <p-toast [key]="keyToast"></p-toast>
    <p-table
        #dt
        [value]="customers"
        [paginator]="true"
        [rows]="5"
        [lazy]="true"
        (onLazyLoad)="filter($event)"
        [totalRecords]="totalRecords"
        [first]="firstPaging"
        [showCurrentPageReport]="true"
        responsiveLayout="scroll"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 15, 25]"
        [globalFilterFields]="['id', 'customerName', 'phoneNumber', 'dateOfBirth', 'totalMoney']"
        [resetPageOnSort]="resetPageOnSort"
    >
        <ng-template pTemplate="caption">
            <div class="flex flex-wrap gap-2 align-items-center justify-content-between">
                <button
                    (click)="navigateToCreateCustomer()"
                    pButton
                    class="p-button-outlined w-full sm:w-auto flex-order-0 sm:flex-order-1"
                    icon="pi pi-user-plus"
                    label="{{ 'TRANSLATOR.ADD_NEW' | translate }}"
                ></button>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th class="white-space-nowrap" style="width: 14.28%">ID</th>
                <th class="white-space-nowrap" style="width: 14.28%">
                    {{ "FIELDS.NAME" | translate }}
                </th>
                <th class="white-space-nowrap" style="width: 14.28%">{{ "FIELDS.PHONE" | translate }}</th>
                <th class="white-space-nowrap" style="width: 14.28%">{{ "FIELDS.ADDRESS" | translate }}</th>
                <th pSortableColumn="dateOfBirth" class="white-space-nowrap" style="width: 14.28%">
                    {{ "FIELDS.BIRTH_DAY" | translate }}<p-sortIcon field="dateOfBirth"></p-sortIcon>
                </th>
                <th pSortableColumn="totalMoney" class="white-space-nowrap" style="width: 14.28%">
                    {{ "FIELDS.TOTAL_MONEY" | translate }}<p-sortIcon field="totalMoney"></p-sortIcon>
                </th>
                <th class="white-space-nowrap" style="width: 14.28%"></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-customer>
            <ng-container *ngIf="isSkeleton; else elseTemplate">
                <tr>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                </tr>
            </ng-container>
            <ng-template #elseTemplate>
                <tr>
                    <td>
                        <span class="two-row-line-height">
                            {{ customer.id }}
                        </span>
                    </td>
                    <td>
                        <span class="two-row-line-height">
                            {{ customer.customerName }}
                        </span>
                    </td>
                    <td>
                        <span class="two-row-line-height">
                            {{ customer.phoneNumber }}
                        </span>
                    </td>
                    <td>
                        <span class="two-row-line-height">
                            {{ customer.address }}
                        </span>
                    </td>
                    <td>
                        <span class="two-row-line-height">
                            {{ customer.dateOfBirth | date : "dd/MM/yyyy" }}
                        </span>
                    </td>
                    <td>
                        <span class="two-row-line-height"> {{ customer.totalMoney | CurrencyVND }}</span>
                    </td>
                    <td class="text-center">
                        <div class="flex justify-content-center">
                            <p-confirmDialog
                                header="Delete customer with name = {{ customer.name }}"
                                key="confirm"
                                icon="pi pi-exclamation-triangle"
                                message="Are you sure you want to proceed?"
                                [style]="{ width: '350px' }"
                                acceptButtonStyleClass="p-button-text"
                                rejectButtonStyleClass="p-button-text"
                            ></p-confirmDialog>
                            <button
                                pButton
                                pRipple
                                icon="pi pi-eye"
                                tooltipPosition="top"
                                pTooltip="{{ 'TOOLTIP.DETAIL' | translate }}"
                                class="p-button-rounded p-button-secondary mr-2"
                                (click)="navigateToDeatailCustomer(customer)"
                            ></button>
                            <button
                                pButton
                                pRipple
                                icon="pi pi-pencil"
                                tooltipPosition="top"
                                pTooltip="{{ 'TOOLTIP.EDIT' | translate }}"
                                class="p-button-rounded p-button-success mr-2"
                                (click)="navigateToEditCustomer(customer)"
                            ></button>
                            <button
                                pButton
                                pRipple
                                icon="pi pi-trash"
                                tooltipPosition="top"
                                pTooltip="{{ 'TOOLTIP.DELETE' | translate }}"
                                class="p-button-rounded p-button-warning"
                                (click)="showConfirmDelete(customer)"
                            ></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </ng-template>
    </p-table>
</div>
