.card-form {
    background: var(--surface-card);
    border-radius: 14px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    .wrapper-profile {
        padding: 3rem 3rem 0 3rem;
    }
    .btn-back {
        width: unset;
    }
}
@media (max-width: 768px) {
    .card-form {
        padding: 3rem;
        border-radius: 30px;
        .wrapper-profile {
            padding: 0;
        }
        .card {
            border: none !important;
            box-shadow: none !important;
            padding: 0 !important;
        }
    }
}
@media (max-width: 576px) {
    .phone-number,
    .birth-day {
        width: 100%;
    }
    .birth-day {
        margin-top: 1rem;
    }
}
