<div class="card p-3">
    <p-toast [key]="keyToast"></p-toast>
    <ng-template [ngIf]="form">
        <form [formGroup]="form" (ngSubmit)="createBooking()" class="card-form w-full h-full" [ngClass]="{ 'p-input-filled': filledInput }">
            <h5 class="flex justify-content-center mt-5 text-4xl font-medium">{{ "CLIENT_BOOKING.TITLE" | translate }}</h5>
            <div class="p-fluid mt-5 mb-8 overflow-hidden">
                <div class="flex flex-column">
                    <div class="field mb-4 flex justify-content-center">
                        <div class="col-12 sm:col-12 md:col-12 lg:col-8 xl:col-8">
                            <label for="bookingDate" class="font-medium text-900">
                                {{ "FIELDS.BOOKING_DATE" | translate }}: <span style="color: red"> *</span></label
                            >
                            <p-calendar
                                dateFormat="dd/mm/yy"
                                [showIcon]="true"
                                [minDate]="minDate"
                                [maxDate]="maxDate"
                                [required]="true"
                                formControlName="bookingDate"
                                [readonlyInput]="true"
                            ></p-calendar>
                            <div *ngIf="f['bookingDate'].invalid && submitted && f['bookingDate'].errors" class="text-red-500 mt-2 block">
                                <div *ngIf="f['bookingDate'].errors['required']">
                                    {{ "INVALID.DATE" | translate }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field mb-4 flex justify-content-center flex">
                        <div class="col-6 sm:col-6 md:col-6 lg:col-4 xl:col-4">
                            <label for="fromTime" class="font-medium text-900"
                                >{{ "FIELDS.FROM" | translate }}<span style="color: red"> *</span></label
                            >
                            <p-dropdown [options]="startTime" formControlName="fromTime" placeholder="..:.." optionLabel="time"></p-dropdown>
                            <div *ngIf="f['fromTime'].invalid && submitted && f['fromTime'].errors" class="text-red-500 mt-2 block">
                                <div *ngIf="f['fromTime'].errors['required']">
                                    {{ "INVALID.TIME" | translate }}
                                </div>
                            </div>
                        </div>
                        <div class="col-6 sm:col-6 md:col-6 lg:col-4 xl:col-4">
                            <label for="totime" class="font-medium text-900">{{ "FIELDS.TO" | translate }}<span style="color: red"> *</span></label>
                            <p-dropdown [options]="endTime" formControlName="toTime" placeholder="..:.." optionLabel="time"></p-dropdown>
                            <div *ngIf="f['toTime'].errors?.['toTimeValidator']" class="text-red-500 mt-2 block">
                                {{ "INVALID.EQUAL_TIME" | translate }}
                            </div>
                            <div *ngIf="f['toTime'].invalid && submitted && f['toTime'].errors" class="text-red-500 mt-2 block">
                                <div *ngIf="f['toTime'].errors['required']">
                                    {{ "INVALID.TIME" | translate }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field mb-4 flex justify-content-center">
                        <div class="col-12 sm:col-12 md:col-12 lg:col-8 xl:col-8">
                            <label for="serviceId" class="font-medium text-900"
                                >{{ "FIELDS.SERVICE" | translate }}<span style="color: red"> *</span></label
                            >
                            <p-multiSelect
                                [options]="services"
                                optionLabel="name"
                                display="chip"
                                [showClear]="true"
                                defaultLabel="{{ 'CLIENT_BOOKING.SELECT_SERVICE' | translate }}"
                                [(ngModel)]="selectedServices"
                                [required]="true"
                                formControlName="serviceId"
                                (onChange)="onChangeService()"
                            >
                                <ng-template let-value pTemplate="selectedItems">
                                    <div class="flex align-items-center gap-2" *ngFor="let option of selectedServices">
                                        <img
                                            [src]="option.image"
                                            [class]=""
                                            style="width: 40px"
                                            onerror="this.src='https:png.pngtree.com/png-clipart/20210905/original/pngtree-beauty-spa-png-image_6689902.jpg'"
                                        />
                                        <div class="capitalize">{{ option.name }}</div>
                                    </div>
                                    <div *ngIf="!selectedServices || selectedServices.length === 0">
                                        {{ "CLIENT_BOOKING.SELECT_SERVICE" | translate }}
                                    </div>
                                </ng-template>
                                <ng-template let-service pTemplate="item">
                                    <div class="flex align-items-center gap-2">
                                        <img
                                            [src]="service.image"
                                            onerror="this.src='https:png.pngtree.com/png-clipart/20210905/original/pngtree-beauty-spa-png-image_6689902.jpg'"
                                            [class]=""
                                            style="width: 40px"
                                        />
                                        <div class="ml-2 capitalize">{{ service.name }}</div>
                                    </div>
                                </ng-template>
                            </p-multiSelect>
                            <div
                                *ngIf="selectedServices && selectedServices.length > 0"
                                class="flex flex-wrap card flex-row w-full pt-0 mt-5 card-service overflow-y-scroll"
                                style="max-height: 30rem"
                            >
                                <div class="w-full pt-3 flex justify-content-between flex-wrap">
                                    <div>
                                        <span class="inline-block mr-1">{{ "CLIENT_BOOKING.TOTAL_MONEY" | translate }} :</span>
                                        <span>{{ totalMoney | currency : "VND" }}</span>
                                    </div>
                                    <div>
                                        <span class="inline-block mr-1">{{ "CLIENT_BOOKING.ESTIMATED_TIME" | translate }}:</span>
                                        <span class="mr-1">{{ totalTime }}</span>
                                        {{ "CLIENT_BOOKING.MINUTES" | translate }}
                                    </div>
                                </div>
                                <div
                                    class="col-12 p-2 my-4 flex flex-column lg:flex-row justify-content-between align-items-center"
                                    *ngFor="let option of selectedServices; let i = index"
                                >
                                    <div class="flex flex-column lg:flex-row justify-content-center align-items-center px-2 w-full">
                                        <div class="mr-0 sm:mr-0 md:mr-0 lg:mr-3 xl:mr-3">{{ i + 1 }}</div>
                                        <img
                                            [src]="option.image"
                                            alt="bookingDetail"
                                            class="w-8rem h-8rem mr-0 sm:mr-0 md:mr-0 lg:mr-3 xl:mr-3 flex-shrink-0"
                                            style="border-radius: 0.5rem"
                                            onerror="this.src='https:png.pngtree.com/png-clipart/20210905/original/pngtree-beauty-spa-png-image_6689902.jpg'"
                                        />
                                        <div class="flex flex-column my-auto text-center sm:text-center md:text-center lg:text-left">
                                            <span class="text-900 font-medium mb-3 mt-3 lg:mt-0 capitalize">{{ option.name }}</span>
                                            <span class="text-900 text-sm mb-3"
                                                ><i class="pi pi-clock mr-1" style="color: 'var(--primary-color)'"></i>:<span class="ml-1">{{
                                                    option.time
                                                }}</span>
                                                {{ "CLIENT_BOOKING.MINUTES" | translate }}
                                            </span>
                                            <a
                                                pRipple
                                                tabindex="0"
                                                class="p-2 select-none cursor-pointer w-10rem mx-auto lg:mx-0 border-round font-medium text-center border-1 border-primary text-primary transition-duration-150"
                                            >
                                                {{ option.price | currency : "VND" }}</a
                                            >
                                        </div>
                                    </div>

                                    <div class="bg-green-50 mr-0 lg:mr-3 mt-4 lg:mt-0 p-2 flex align-items-center" [style.border-radius]="'2.5rem'">
                                        <button
                                            type="button"
                                            pButton
                                            pRipple
                                            icon="pi pi-trash"
                                            tooltipPosition="top"
                                            pTooltip="{{ 'TOOLTIP.DELETE' | translate }}"
                                            class="p-button-rounded p-button-warning ml-auto"
                                            (click)="handleDeleteOneService(option)"
                                        ></button>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="f['serviceId'].invalid && submitted && f['serviceId'].errors" class="text-red-500 mt-2 block">
                                <div *ngIf="f['serviceId'].errors['required']">
                                    {{ "INVALID.SERVICE" | translate }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field mb-4 flex justify-content-center">
                        <div class="col-12 sm:col-12 md:col-12 lg:col-8 xl:col-8">
                            <label for="note" class="font-medium text-900">{{ "FIELDS.NOTE" | translate }} </label>
                            <textarea rows="1" [autoResize]="true" pInputTextarea formControlName="note"></textarea>
                        </div>
                    </div>
                </div>
                <div class="mb-4 flex justify-content-center">
                    <div class="col-12 sm:col-12 md:col-12 lg:col-8 xl:col-8 flex justify-content-start">
                        <p-button type="submit" [loading]="isLoading" class="mr-5 btn-booking" label="{{ 'BTN.BOOKING' | translate }}"></p-button>
                        <p-button type="button" class="btn-cancle" label="{{ 'BTN.CANCEL' | translate }}" (click)="naviagateToLanding()"></p-button>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>
</div>
