/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #eee;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c1c1c1;
}

// @media (max-width: 992px) {
//     .card-service {
//         flex-direction: unset !important;
//     }
// }
@media (max-width: 576px) {
    .card-service {
        padding: 0 1rem 1rem 1rem !important;
        .content {
            .description {
                div {
                    width: unset !important;
                    min-width: 5rem !important;
                }
            }
        }
    }
}
