/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #eee;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c1c1c1;
}
@media (max-width: 992px) {
    
}

.active {
    background-color: var(--surface-300);
}
.disabled {
    background-color: var(--pink-50) !important;
    color: #d3d1d1 !important;
    cursor: no-drop !important;
}
