/* width */
::-webkit-scrollbar {
    width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: #eee;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c1c1c1;
}
@media (max-width: 992px) {
}

.active {
    background-color: var(--surface-300);
}
.disabled {
    background-color: var(--pink-50) !important;
    color: #d3d1d1 !important;
    cursor: no-drop !important;
}

.active {
    background-color: var(--surface-300);
}
.disabled-btn {
    background-color: var(--pink-50) !important;
    color: #d3d1d1 !important;
    cursor: no-drop !important;
}
.waiting {
    background-color: var(--gray-50);
    .icon-check {
        background-color: var(--gray-500);
    }
    .content {
        color: var(--gray-500);
    }
}
.inprogress {
    background-color: var(--orange-50);
    .icon-check {
        background-color: var(--orange-500);
    }
    .content {
        color: var(--orange-500);
    }
}
.done {
    background-color: var(--green-50);
    .icon-check {
        background-color: var(--green-500);
    }
    .content {
        color: var(--green-500);
    }
}
.border-bottom {
    border-bottom: 1px solid var(--gray-50);
}
