<div class="surface-ground h-screen w-screen flex align-items-center justify-content-center" [ngClass]="{ 'p-input-filled': filledInput }">
    <p-toast [key]="keyToast"></p-toast>
    <div class="surface-card py-5 px-5 sm:px-7 shadow-2 flex flex-column w-11 sm:w-30rem" style="border-radius: 14px">
        <div class="flex ml-auto align-items-center mb-4 flex-wrap;">
            <span>{{ "AUTH.DO_NOT_HAVE_ACCOUNT" | translate }}</span>
            <button class="btn btn-light border-round-2xl ml-2" (click)="navigateToSignup()">{{ "TRANSLATOR.SIGN_UP" | translate }}</button>
        </div>

        <ng-container *ngIf="isShowForgotSuccess === false; else openMail">
            <div class="flex justify-content-center mt-5 mb-5">
                <button
                    pButton
                    pRipple
                    icon="pi pi-key"
                    class="btn-key p-button-rounded p-button-help mr-2 mb-2"
                    style="box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #d4aafb, 0 1px 2px 0 black"
                ></button>
            </div>
            <h1 class="font-bold text-2xl mt-0 mb-4 text-center">{{ "AUTH.FORGOT_PASSWORD" | translate }}</h1>
            <p class="text-color-secondary mb-4 text-center">{{ "AUTH.TITLE_FORGOT_PASSWORD" | translate }}</p>
            <span class="p-input-icon-left">
                <i class="pi pi-key"></i>
                <input
                    type="email"
                    pInputText
                    placeholder="Email"
                    required
                    class="w-full"
                    email
                    required
                    [(ngModel)]="email"
                    #gmail="ngModel"
                    pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                />
            </span>
            <div *ngIf="gmail.invalid && (submitted || gmail.touched)" class="text-red-500 mt-2 block">
                <div *ngIf="gmail.errors?.['required']">{{ "INVALID.EMAIL" | translate }}</div>
                <div *ngIf="gmail.errors?.['pattern']">{{ "INVALID.FORMAT_EMAIL" | translate }}</div>
            </div>
            <button
                (click)="sendMail()"
                pButton
                pRipple
                [disabled]="gmail.errors ? true : false"
                [loading]="isLoading"
                class="p-button-help mt-4 mb-4"
                label="{{ 'AUTH.RESET_PASSWORD' | translate }}"
            ></button>
        </ng-container>

        <ng-template #openMail>
            <div class="flex justify-content-center mt-5 mb-5">
                <button
                    pButton
                    pRipple
                    icon="pi pi-envelope"
                    class="btn-key p-button-rounded p-button-help mr-2 mb-2"
                    style="box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #d4aafb, 0 1px 2px 0 black"
                ></button>
            </div>
            <div class="font-bold text-2xl mt-0 mb-2 text-center">{{ "AUTH.CHECK_EMAIL" | translate }}</div>
            <div class="notify flex flex-column align-items-center mb-4">
                <span> {{ "AUTH.TITLE_CHECK_EMAIL" | translate }} </span>
                <span>
                    {{ email }}
                </span>
            </div>
            <a class="flex justify-content-center" href="https://mail.google.com" target="_blank">
                <button pButton pRipple class="p-button-help mb-4" label="Open email app"></button>
            </a>
            <div class="flex align-items-center justify-content-center mb-4">
                <span class="mr-2">{{ "AUTH.FORGOT_PASSWORD_NO_SEND" | translate }} </span>
                <span (click)="sendMail()" class="text-purple-600 font-bold cursor-pointer"> {{ "AUTH.CLICK_TO_RESEND" | translate }} </span>
            </div>
        </ng-template>

        <div class="flex justify-content-center mb-4">
            <button class="btn btn-light px-4 py-2 border-round-xl" (click)="navigateToLanding()">&#8606;{{ "BTN.BACK" | translate }}</button>
        </div>
    </div>
</div>

<app-config [minimal]="true"></app-config>
