<div class="card">
    <p-toast [key]="keyToast"></p-toast>
    <span class="text-900 text-xl font-bold mb-4 block">Chỉnh sửa thông tin đặt lịch</span>
    <div class="grid">
        <div class="col-12 lg:col-2">
            <div class="text-900 font-medium text-xl mb-3">Profile</div>
        </div>
        <ng-template [ngIf]="form">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="col-12 lg:col-10">
                <div class="grid formgrid p-fluid">
                    <div class="field mb-4 col-12 md:col-6">
                        <label for="id" class="font-medium text-900">ID<span style="color: red"> *</span></label>
                        <input id="id" type="text" pInputText formControlName="id" />
                    </div>
                  
                    <div class="field mb-4 col-12 md:col-6">
                        <label for="bookingDate" class="font-medium text-900">Booking Date<span style="color: red"> *</span></label>
                        <p-calendar
                                dateFormat="dd/mm/yy"
                                [showIcon]="true"
                                formControlName="bookingDate"
                                [readonlyInput]="true"
                            ></p-calendar>
                    </div>
                    <div class="field mb-4 col-12 md:col-6">
                        <label for="fromTime" class="font-medium text-900">From Time<span style="color: red"> *</span></label>
                        <p-calendar
                        [showTime]="true"
                        [showIcon]="true"
                        formControlName="fromTime"
                        [readonlyInput]="true"
                    ></p-calendar>
                    </div>
                    <div class="field mb-4 col-12 md:col-6">
                        <label for="toTime" class="font-medium text-900">To Time<span style="color: red"> *</span></label>
                        <p-calendar
                        [showTime]="true"
                        [showIcon]="true"
                        formControlName="toTime"
                        [readonlyInput]="true"
                    ></p-calendar>
                    </div>
                    <div class="field mb-4 col-12 md:col-6">
                        <label for="note" class="font-medium text-900">Note<span style="color: red"> *</span></label>
                        <input id="note" type="text" pInputText formControlName="note" />
                    </div>
                    <div class="field mb-4 col-12 md:col-6">
                        <label for="serviceId" class="font-medium text-900">Service<span style="color: red"> *</span></label>
                        <p-multiSelect
                            [options]="service"
                            [(ngModel)]="name"
                            optionLabel="name"
                            display="chip"
                            formControlName="serviceId"
                        ></p-multiSelect>
                        <p style="color: red" *ngIf="form.get('password')?.errors?.['required'] && form.get('password')?.touched">
                            * Không được để trống
                        </p>
                    </div>

                    <div class="col-12 md:col-6 lg:col-5 mt-3">
                        <div class="grid">
                            <div class="col-6 md:col-5 lg:col-6">
                                <button pButton pRipple label="Save" icon="pi pi-check" type="submit"></button>
                            </div>
                            <div class="col-6 md:col-6 lg:col-6">
                                <button
                                    pButton
                                    pRipple
                                    label="Cancel"
                                    icon="pi pi-times"
                                    (click)="navigateBackAllBooking()"
                                    class="p-button-outlined"
                                ></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>
    </div>
</div>
