<ng-template [ngIf]="formChangePassword">
    <form (ngSubmit)="changePassword()" [formGroup]="formChangePassword" class="w-full h-full" [ngClass]="{ 'p-input-filled': filledInput }">
        <p-toast [key]="keyToast"></p-toast>
        <div class="card wrapper p-fluid pt-6 px-6">
            <div>
                <h5>{{ "AUTH.CHANGE_PASSWORD" | translate }}</h5>
                <p-divider layout="horizontal"></p-divider>
                <ng-container *ngIf="isSuccessChangePassword === false; else changeSuccess">
                    <div class="card p-fluid mt-5 mb-8">
                        <div class="flex flex-column">
                            <div class="field mt-4">
                                <label htmlFor="password">
                                    {{ "FIELDS.CURRENT_PASSWORD" | translate }}
                                    <span class="text-red-500 text-900">*</span>
                                </label>
                                <input
                                    type="password"
                                    pInputText
                                    required
                                    placeholder="{{ 'FIELDS.CURRENT_PASSWORD' | translate }}"
                                    formControlName="password"
                                />
                                <span *ngIf="submitted && f['password'].invalid && f['password'].errors" class="text-red-500 mt-2 block">
                                    {{ "INVALID.MIN_LENGTH_PASSWORD" | translate }}
                                </span>
                            </div>
                            <div class="field mt-4">
                                <label htmlFor="newPassword">
                                    {{ "FIELDS.NEW_PASSWORD" | translate }}
                                    <span class="text-red-500 text-900">*</span>
                                </label>
                                <input
                                    type="password"
                                    pInputText
                                    required
                                    placeholder="{{ 'FIELDS.NEW_PASSWORD' | translate }}"
                                    formControlName="newPassword"
                                />
                                <span *ngIf="submitted && f['newPassword'].invalid && f['newPassword'].errors" class="text-red-500 mt-2 block">
                                    {{ "INVALID.MIN_LENGTH_PASSWORD" | translate }}
                                </span>
                            </div>
                            <div class="field mt-4">
                                <label htmlFor="confirmNewPassword">
                                    {{ "FIELDS.CONFIRM_PASSWORD" | translate }}
                                    <span class="text-red-500 text-900">*</span>
                                </label>
                                <input
                                    type="password"
                                    pInputText
                                    required
                                    placeholder="{{ 'FIELDS.CONFIRM_PASSWORD' | translate }}"
                                    formControlName="confirmNewPassword"
                                />
                                <span
                                    *ngIf="submitted && f['confirmNewPassword']?.errors && f['confirmNewPassword'].hasError('minlength')"
                                    class="text-red-500 mt-2 block"
                                >
                                    {{ "INVALID.MIN_LENGTH_PASSWORD" | translate }}
                                </span>
                            </div>
                        </div>

                        <div
                            *ngIf="f['confirmNewPassword'].invalid && (f['confirmNewPassword'].dirty || f['confirmNewPassword'].touched)"
                            class="text-red-500 mb-2"
                        >
                            <div *ngIf="f['confirmNewPassword'].errors?.['confirmedValidator']">{{ "INVALID.NOT_MATCH_PASSWORD" | translate }}</div>
                        </div>

                        <div class="field mt-4 flex">
                            <button pButton pRipple type="submit" label="{{ 'BTN.SAVE_CHANGE' | translate }}" class="p-button-info w-12rem"></button>
                            <button
                                pButton
                                pRipple
                                icon="pi pi-angle-left"
                                type="button"
                                label="{{ 'BTN.BACK' | translate }}"
                                class="p-button-info ml-3 btn-back"
                                (click)="navigateToLanding()"
                            ></button>
                        </div>
                    </div>
                </ng-container>
                <ng-template #changeSuccess>
                    <div class="flex justify-content-center mt-5 mb-5">
                        <button
                            pButton
                            pRipple
                            icon="pi pi-check"
                            class="btn-key p-button-rounded p-button-success mr-2 mb-2"
                            style="box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #22c55e, 0 1px 2px 0 black"
                        ></button>
                    </div>
                    <h1 class="font-bold text-2xl mt-0 mb-2 text-center">{{ "AUTH.PASSWORD_CHANGE_SUCC" | translate }}</h1>
                    <div class="mb-4">
                        <p class="block mb-0 text-color-secondary text-center">{{ "AUTH.TITLE_RESET_PASSWORD_SUCC" | translate }}</p>
                        <p class="block text-color-secondary text-center">{{ "AUTH.SIGN_IN_CONTINUE" | translate }}</p>
                    </div>
                    <div class="flex justify-content-center">
                        <button
                            (click)="navigateToLanding()"
                            pButton
                            pRipple
                            class="p-button-help mb-4 w-12rem"
                            label="{{ 'BTN.CONTINUE' | translate }}"
                        ></button>
                    </div>
                </ng-template>
            </div>
        </div>
    </form>
    <app-config></app-config>
</ng-template>
