.card-form {
    background: var(--surface-card);
    border-radius: 14px;
    border: 1px solid rgba(0, 0, 0, 0.125);
}
.card {
    padding: 2.5rem !important;
}
@media (max-width: 768px) {
    .card.wrapper {
        border: unset !important;
        box-shadow: unset !important;
        padding: 0 !important;
    }
}
