.card-form {
    background: var(--surface-card);
    border-radius: 14px;
    border: 1px solid rgba(0, 0, 0, 0.125);
}
.card {
    padding: 2.5rem !important;
}
.btn-back {
    width: unset;
}
@media (max-width: 768px) {
    .card.wrapper {
        padding: 3rem !important;
        .card {
            border-radius: none !important;
            box-shadow: none !important;
            padding: 1rem !important;
            border: none;
        }
    }
}
