<ng-template [ngIf]="formChangePassword">
    <form
        (ngSubmit)="changePassword()"
        [formGroup]="formChangePassword"
        class="card-form w-full h-full"
        [ngClass]="{ 'p-input-filled': filledInput }"
    >
        <p-toast [key]="keyToast"></p-toast>
        <div class="p-fluid pt-6 px-8">
            <h5>Change Password</h5>
            <p-divider layout="horizontal"></p-divider>
            <ng-container *ngIf="isSuccessChangePassword === false; else changeSuccess">
                <div class="card p-fluid mt-5 mb-5">
                    <div class="field">
                        <label htmlFor="password">
                            Current password
                            <span class="text-red-500 text-900">*</span>
                        </label>
                        <input type="password" pInputText required placeholder="Password" formControlName="password" />
                        <span *ngIf="submitted && f['password'].invalid && f['password'].errors" class="text-red-500 mt-2 block">
                            Password enter at least 8 characters
                        </span>
                    </div>

                    <div class="field">
                        <label htmlFor="newPassword">
                            New password
                            <span class="text-red-500 text-900">*</span>
                        </label>
                        <input type="password" pInputText required placeholder="Password" formControlName="newPassword" />
                        <span *ngIf="submitted && f['newPassword'].invalid && f['newPassword'].errors" class="text-red-500 mt-2 block">
                            Password enter at least 8 characters
                        </span>
                    </div>

                    <div class="field">
                        <label htmlFor="confirmNewPassword">
                            Confirm new password
                            <span class="text-red-500 text-900">*</span>
                        </label>
                        <input type="password" pInputText required placeholder="Password" formControlName="confirmNewPassword" />
                        <span
                            *ngIf="submitted && f['confirmNewPassword']?.errors && f['confirmNewPassword'].hasError('minlength')"
                            class="text-red-500 mt-2 block"
                        >
                            Password enter at least 8 characters
                        </span>
                    </div>

                    <div
                        *ngIf="f['confirmNewPassword'].invalid && (f['confirmNewPassword'].dirty || f['confirmNewPassword'].touched)"
                        class="text-red-500 mb-2"
                    >
                        <div *ngIf="f['confirmNewPassword'].errors?.['confirmedValidator']">Passwords did not match</div>
                    </div>

                    <div class="field">
                        <button pButton pRipple type="submit" [loading]="isLoading" label="Save Changes" class="p-button-info w-12rem"></button>
                    </div>
                </div>
            </ng-container>

            <ng-template #changeSuccess>
                <div class="flex justify-content-center mt-5 mb-5">
                    <button
                        pButton
                        pRipple
                        icon="pi pi-check"
                        class="btn-key p-button-rounded p-button-success mr-2 mb-2"
                        style="box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #22c55e, 0 1px 2px 0 black"
                    ></button>
                </div>
                <h1 class="font-bold text-2xl mt-0 mb-2 text-center">Password changed</h1>
                <div class="mb-4">
                    <p class="block mb-0 text-color-secondary text-center">Your password has been successfully reset.</p>
                    <p class="block text-color-secondary text-center">Click below to log in magically</p>
                </div>
                <button (click)="navigateToLanding()" pButton pRipple class="p-button-help mb-4" label="Continue"></button>
            </ng-template>
        </div>
    </form>
    <app-config></app-config>
</ng-template>
