.card-form {
    background: var(--surface-card);
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1), 0px 24px 36px rgba(0, 0, 0, 0.04);
    border-radius: 14px;
    border: 1px solid rgba(0, 0, 0, 0.125);
}
