
.image-container {
    position: relative;
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.text-effect {
    position: absolute;
    top: 17%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: rgb(71, 27, 8);
    letter-spacing: 5px;
    opacity: 0;
    animation: text-effect-animation 2s ease-in-out 1s forwards;
}

.text-effectt {
    position: absolute;
    top: 88%;
    left: 30%;
    transform: translate(-80%, -20%);
    color: rgb(110, 60, 21);
    opacity: 0;
    letter-spacing: 1px;
    animation: text-effect-animation 2s ease-in-out 1s forwards;
}

.carousel {
    display: flex;
    overflow: hidden;
    margin-top: 10%;
}

.slide {
    flex: 0 0 100%;
}

@media (min-width: 768px) {
    .slide {
        flex: 0 0 50%;
    }
}

@media (min-width: 1024px) {
    .slide {
        flex: 0 0 33.33%;
    }
}

@keyframes text-effect-animation {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

.typewriter h1 {
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15em; 
    animation: typing 1s steps(50, end);
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.hover-zoom {
    transition: transform 0.3s ease;
}

.hover-zoom:hover {
    transform: scale(1.1);
}
.navbar-top {
    top: 50%;
    position: relative;
    display: inline-block;
}

.line {
    width: 50px;
    height: 0;
    border-bottom: 1px solid #f0e9e6;
    margin: 20px auto;
}
// .linevv {
//     width: 50px;
//     height: 0;
//     border-bottom: 2px solid #030100;
//     margin: 20px auto;
// }

.thumb {
    max-width: 100%;
    height: auto;
    top: 50%;
    position: relative;
    display: inline-block;
    background-image: url(http://www.theimperiaspa.com/wp-content/uploads/2016/04/floral-decorated-floor-wall-blue.png);
}

.responsive-image {
    max-width: 100%;
    height: auto;
}

.image-overlay {
    position: absolute;
    word-wrap:  break-word;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    text-align: center;
    font-family: "Lato", sans-serif;
}

.hover-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    animation: colorChange 2s infinite;
}

.hover-button:hover {
    animation: none;
    background-color: #45a049;
}

@keyframes colorChange {
    0% {
        background-color: #4caf50;
    } 
    50% {
        background-color: #1c2b4f;
    }
    100% {
        background-color: #af4c84;
    } 
}

.thumb::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    background: linear-gradient(135deg, #fff 25%, transparent 25%),
        linear-gradient(-135deg, #fff 25%, transparent 25%);
    background-size: 40px;
}
.thumb::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35px;
    background: linear-gradient(-45deg, #fff 25%, transparent 25%),
        linear-gradient(45deg, #fff 25%, transparent 25%);
    background-size: 40px;
}

.sawtooth-line {
    width: 100%;
    height: 20px;
    background-image: url(https://png.pngtree.com/png-vector/20220513/ourmid/pngtree-equilateral-triangle-black-and-white-png-image_4585163.png);
    background-repeat: repeat-x;
}

.container-fluidd {
    top: 50%;
    position: relative;
    display: table;
    background-image: radial-gradient(rgba(241, 241, 161, 0.893), #f19956);
}
.content-image {
    position: absolute;
    top: 10%;
    left: 20%;
    transform: translate(-50%, -50%);

    text-align: center;
}

.icon-wrapper {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    transform: translateY(30%);
    margin-left: -80px;
}

.icon-wrapper img {
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}

.icon-content {
    margin-left: 100px;
    margin: 0;
}
.aaa {
    border-radius: 50%;
    width: 130px;
    height: 130px;
    padding: 2rem;
}

.linee {
    width: 50px;
    height: 0;
    border-bottom: 1px solid  #f0e9e6;
    margin-bottom: 20px;
}

.lineV {
    width: 50px;
    height: 0;
    border-bottom: 1px solid  #080300;
    margin-bottom: 20px;
} 
nav {
    text-align: center;
    flex-direction: row;
}

input[type="radio"] {
    display: none;
}

.content {
    display: none;
    padding: 50px;
}

#home:checked ~ #home-content,
#about:checked ~ #about-content,
#services:checked ~ #services-content,
#contact:checked ~ #contact-content {
    display: block;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav label {
    padding: 1px 30px;
    text-decoration: none;
    color: #403232;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}

nav label::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background-color: #906c5f;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: width 0.3s;
}

nav input[type="radio"]:checked + label::after {
    width: 100%;
}
.card {
    position: relative;
    overflow: hidden;
    height: auto;
    transition: transform 1s;
  }
  
  .card:hover {
    transform: translateY(-10%);
  }
  
  .overflow-image {
    position: relative;
    height: 100%;
  }
  
  .overflow-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  
  .card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 55%;
    background-color: #2fbeae;
    padding: 10px;
    transform: translateY(50%);
    transition: transform 0.8s;
  }
  .card-body1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 55%;
    background-color: #ff508b;
    padding: 10px;
    transform: translateY(50%);
    transition: transform 0.8s;
  }
  
  .card-body2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 55%;
    background-color: #62c052;
    padding: 10px;
    transform: translateY(50%);
    transition: transform 0.8s;
  }
  .card-title{
    color: #ecf2f0;
  }
  .card-text{
    color: #ecf2f0;
    font-size: 14px;
    font-weight: 700;
  }
  .card:hover .card-body {
    transform: translateY(0);
  }
  .card:hover .card-body1 {
    transform: translateY(0);
  }
  .card:hover .card-body2 {
    transform: translateY(0);
  }
  .lineee {
    width: auto;
    height: 0;
    border-bottom: 1px solid  #f0e9e6;
    margin-bottom: 20px;
}