<div class="card">
    <span class="text-900 text-xl font-bold mb-4 block">Chỉnh sửa thông tin nhân
        viên</span>
    <div class="grid">
        <div class="col-12 lg:col-2">
            <div class="text-900 font-medium text-xl mb-3">Profile</div>
            <!-- <p class="m-0 p-0 text-600 line-height-3 mr-3">Odio euismod lacinia
                at quis risus sed vulputate odio.</p> -->
        </div>
        <form [formGroup]="form" (ngSubmit)="updateEmployeeById()">
            <div class="col-12 lg:col-10">
                <div class="grid formgrid p-fluid">
                    <div class="field mb-4 col-12 md:col-6">
                        <label for="id" class="font-medium text-900">ID<span
                                style="color: red"> *</span></label>
                        <input id="id" type="text" pInputText
                            formControlName="id">
                        <p style="color: red"
                            *ngIf="form.get('id')?.errors?.['required'] && form.get('id')?.touched">*
                            Không được để trống</p>
                    </div>
                    <div class="field mb-4 col-12 md:col-6">
                        <label for="name" class="font-medium text-900">Name<span
                                style="color: red"> *</span></label>
                        <input id="name" type="text" pInputText
                            formControlName="name">
                            <p style="color: red"
                            *ngIf="form.get('name')?.errors?.['required'] && form.get('name')?.touched">*
                            Không được để trống</p>
                        <p style="color: red"
                            *ngIf="form.get('name')?.errors?.['pattern'] && form.get('name')?.touched">*
                            Chữ cái đầu phải viết hoa</p>
                    </div>
                    <div class="field mb-4 col-12 md:col-6">
                        <label for="email" class="font-medium text-900">Email<span
                                style="color: red"> *</span></label>
                        <input id="email" type="text" pInputText
                            formControlName="email">
                            <p style="color: red"
                            *ngIf="form.get('email')?.errors?.['required'] && form.get('email')?.touched">*
                            Không được để trống</p>
                        <p style="color: red"
                            *ngIf="form.get('email')?.errors?.['pattern'] && form.get('email')?.touched">*
                            Email chưa đúng định dạng. Ex: abc12@gmail.com</p>
                    </div>
                    <div class="field mb-4 col-12 md:col-6">
                        <label for="phone" class="font-medium text-900">Phone<span
                                style="color: red"> *</span></label>
                        <input id="phone" type="text" pInputText
                            formControlName="phoneNumber">
                            <p style="color: red"
                            *ngIf="form.get('phoneNumber')?.errors?.['required'] && form.get('phoneNumber')?.touched">*
                            Không được để trống</p>
                        <p style="color: red"
                            *ngIf="form.get('phoneNumber')?.errors?.['pattern'] && form.get('phoneNumber')?.touched">*
                            Số điện thoại bao gồm 10 số và không chứ kí tự</p>
                    </div>
                    <div class="col-12 md:col-6">
                        <div class="grid field">
                            <div class="field col-12 md:col-5">
                                <label for="gender" class="font-medium text-900">Gender</label>
                                <p-dropdown inputId="gender" [options]="genders"
                                    optionLabel="name" [filter]="true"
                                    filterBy="name"
                                    [showClear]="true"
                                    placeholder="Select a Gender">
                                    <ng-template let-genders pTemplate="item">
                                        <div class="flex align-items-center">
                                            <div>{{genders.name}}</div>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                            </div>
                            <div class="field col-12 md:col-7">
                                <label for="birthday"
                                    class="font-medium text-900">Date</label>
                                <p-calendar [(ngModel)]="birthdayInit" id="birthday"
    (ngModelChange)="onBirthdayChange($event)"
    [showIcon]="true" formControlName="birthday" dataType="dd/mm/yyyy" ></p-calendar>
                            </div>
                        </div>
                    </div>
                    <div class="field mb-4 col-12 md:col-6">
                        <label for="address" class="font-medium text-900">Address</label>
                        <input id="address" type="text" pInputText
                            formControlName="address">
                    </div>
                    <div class="field mb-4 col-12 md:col-6">
                        <label for="userName" class="font-medium text-900"
                            formControlName="id">User Name<span
                                style="color: red"> *</span></label>
                        <input id="userName" type="text" pInputText>
                    </div>
                    <div class="field mb-4 col-12 md:col-6">
                        <label for="avatar" class="font-medium text-900" >Avatar</label>
                        <p-fileUpload mode="basic" name="avatar" url="./upload.php" accept="image/*" [maxFileSize]="1000000" styleClass="p-button-outlined p-button-plain" chooseLabel="Upload Image"></p-fileUpload>
                    </div>
                    <div class="field mb-4 col-12 md:col-6">
                        <label for="password" class="font-medium text-900">Password<span
                                style="color: red"> *</span></label>
                        <input id="password" type="password" pInputText>
                    </div>
                    <div class="field mb-4 col-12 md:col-6">
                        <label for="workshiftId" class="font-medium text-900">Workshift_ID<span
                                style="color: red"> *</span></label>
                        <input id="workshiftId" type="text" pInputText
                            formControlName="workShiftId">
                            <p style="color: red"
                            *ngIf="form.get('workShiftId')?.errors?.['required'] && form.get('workShiftId')?.touched">*
                            Không được để trống</p>
                    </div>
                    <div class="col-12 md:col-6 lg:col-4 mt-3">
                        <div class="grid">
                            <div class="col-6 md:col-6">
                                <p-button pRipple label="Save"
                                    icon="pi pi-check" type="submit"></p-button>
                            </div>
                            <div class="col-6 md:col-6">
                                <button pButton pRipple label="Cancel"
                                    icon="pi pi-times"
                                    (click)="navigateBackEmployeeList()"
                                    class="p-button-outlined"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
