<div class="bg-no-repeat bg-cover bg-bottom">
    <div
        class="navbarr flex align-items-center justify-content-between"
        style="
            position: fixed;
            width: 100%;
            height: 15%;
            top: 0;
            z-index: 999;
        "
    >
        <a
            style="height: inherit"
            class="app-logo"
            [routerLink]="['/']"
        >
            <img alt="app logo" [src]="logo" />
            <span class="typewriter text-color">
                <h1>Natural Spa</h1>
            </span>
        </a>
        <div class="relative">
            <nav class="navbar navbar-expand-md">
                <div class="navbar-top">
                    <a
                        class="navbar-brand font-bold text-color-secondary"
                    >
                        <!-- <i  class="pi pi-bars"></i> -->
                    </a>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarNav"
                        aria-controls="navbarNav"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div
                        class="collapse navbar-collapse"
                        id="navbarNav"
                    >
                        <ul
                            class="flex flex-column lg:flex-row m-0 p-0 list-none text-2xl lg:text-base"
                            style="justify-content: space-between"
                        >
                            <li>
                                <a
                                    class="block p-5 cursor-pointer font-bold text-color-secondary hover:text-color"
                                   
                                    pStyleClass="#landing-menu"
                                    leaveActiveClass="fadeout"
                                    leaveToClass="hidden"
                                    >HOME</a
                                >
                            </li>
                            <li>
                                <a
                                    class="block p-5 cursor-pointer font-bold text-color-secondary hover:text-color transition-colors transition-duration-300"
                                    pStyleClass="#landing-menu"
                                    leaveActiveClass="fadeout"
                                    leaveToClass="hidden"
                                    >ABOUT US</a
                                >
                            </li>
                            <li>
                                <a
                                    class="block p-5 cursor-pointer font-bold text-color-secondary hover:text-color transition-colors transition-duration-300"
                            
                                    pStyleClass="#landing-menu"
                                    leaveActiveClass="fadeout"
                                    leaveToClass="hidden"
                                    >SERVICE</a
                                >
                            </li>
                            <li>
                                <a
                                    class="block p-5 cursor-pointer font-bold text-color-secondary hover:text-color transition-colors transition-duration-300"
                                    pStyleClass="#landing-menu"
                                    leaveActiveClass="fadeout"
                                    leaveToClass="hidden"
                                    >THERAPITS</a
                                >
                            </li>
                            <li>
                                <a
                                    class="block p-5 cursor-pointer font-bold text-color-secondary hover:text-color transition-colors transition-duration-300"
                                    pStyleClass="#landing-menu"
                                    leaveActiveClass="fadeout"
                                    leaveToClass="hidden"
                                    >BOOK NOW</a
                                >
                            </li>

                            <li>
                                <a
                                    class="block p-5 cursor-pointer font-bold text-color-secondary hover:text-color transition-colors transition-duration-300"
                                    pStyleClass="#landing-menu"
                                    leaveActiveClass="fadeout"
                                    leaveToClass="hidden"
                                    >SHORTCODES</a
                                >
                            </li>

                            <li>
                                <a
                                    class="block p-5 cursor-pointer font-bold text-color-secondary hover:text-color transition-colors transition-duration-300"
                                    [routerLink]="['/auth/login']"
                                    >SIGN IN</a
                                >
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
