
.navbarr {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--surface-ground);
    // width: auto;
}

.app-logo {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-left: 3rem;

    img {
        width: 3rem;
        border-radius: 50%;
    }

    span {
        font-family: "Courier New", Courier, monospace;
        font-size: 2rem;
        font-weight: 700;
        margin-left: 0.5rem;
        color: var(--v-menuitem-text-color);
    }
}

.font_td {
    font-family: "Courier New", Courier, monospace;
    font-weight: 150;
    vertical-align: baseline;
}
