.layout-topbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--surface-ground);
    width: 100%;
    height: 8rem;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}
.pi {
    display: none;
}

span {
    font-family: "Courier New", Courier, monospace;
    font-size: 3rem;
    font-weight: 700;
    color: var(--v-menuitem-text-color);
}

img {
    margin-bottom: 20px;
    width: 3rem;
    border-radius: 50%;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    animation: fadeIn linear 0.2;
}

.mobile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 280px;
    max-width: 100%;
    background-color: #fff;
    transform: translateX(100%);
    opacity: 0;
    transition: transform linear 0.2s, opacity linear 0.2s;
}
.list {
    margin-top: 24px;
    margin-left: 10px;
}
.link {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 8px 0;
    font-size: 1.4rem;
}
.btn-close {
    position: absolute;
    font-size: 1.4rem;
    top: 2rem;
    right: 1rem;
}

#nav_input:checked ~ .overlay {
    display: block;
}
#nav_input:checked ~ .mobile {
    transform: translateX(0%);
    opacity: 1;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 992px) {
    img {
        width: 28px;
        height: 28px;
    }
    .layout-topbar {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .pi {
        display: block;
    }
    .navbar-toggler-icon {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .app_name {
        font-size: 2rem;
    }

    img{
        margin-bottom: 10px;
    }
    .layout-topbar {
        height: 70px;
    }
}
