<div class="layout-container">
    <app-profile-header></app-profile-header>
    <div class="layout-content-wrapper">
        <div class="layout-content">
            <div class="layout-content-inner flex-row" style="border-top: 1px solid #efe7e7">
                <div class="sidebar md:col-3 lg:col-2">
                    <app-profile-sidebar></app-profile-sidebar>
                </div>
                <div class="outlet md:col-9 lg:col-10">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
