<p-toast></p-toast>
<p-dialog
    [(visible)]="isOpenModal"
    [style]="{ width: '450px' }"
    [header]="
        mode === modeEdit
            ? ('TRANSLATOR.EDIT' | translate)
            : ('TRANSLATOR.ADD_NEW' | translate)
    "
    [modal]="true"
    class="p-fluid"
>
    <ng-template pTemplate="content">
        <form [formGroup]="departmentForm">
            <div class="field">
                <label for="name">{{
                    "MANAGE_BRANCH.TITLE" | translate
                }}</label>
                <input
                    formControlName="title"
                    type="text"
                    pInputText
                    id="name"
                    [ngClass]="{
                        'ng-invalid ng-dirty':
                            submitted && controlDepartmentForm['title'].invalid
                    }"
                />
                <small
                    class="p-error ng-dirty ng-invalid"
                    *ngIf="submitted && controlDepartmentForm['title'].errors"
                    >{{ "MANAGE_BRANCH.VALID_TITLE" | translate }}</small
                >
            </div>
            <div class="field">
                <label for="description">{{
                    "MANAGE_BRANCH.BRANCH" | translate
                }}</label>
                <p-dropdown
                    formControlName="branchId"
                    optionLabel="title"
                    optionValue="id"
                    [options]="listBranch"
                    placeholder="Select"
                    [ngClass]="{
                        'ng-dirty ng-invalid':
                            submitted &&
                            controlDepartmentForm['branchId'].invalid
                    }"
                >
                </p-dropdown>
                <small
                    class="p-error ng-dirty ng-invalid"
                    *ngIf="submitted && controlDepartmentForm['branchId'].errors"
                    >{{ "MANAGE_BRANCH.VALID_BRANCH" | translate }}</small
                >
            </div>
            <div class="field-checkbox">
                <p-checkbox name="group1" value="New York" id="ny" class="p-element ng-valid ng-dirty ng-touched">
                    <div class="p-checkbox p-component">
                        <div class="p-hidden-accessible">
                            <input type="checkbox" formControlName="isActive" value="isActive" name="group1" aria-checked="false">
                        </div>
                    <div class="p-checkbox-box">
                        <span class="p-checkbox-icon"></span>
                    </div>
                </div>
                <!---->
                </p-checkbox>
                <label for="ny">{{"MANAGE_BRANCH.ISACTIVE" | translate}}</label>
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <button
            pButton
            pRipple
            icon="pi pi-times"
            class="p-button-text"
            (click)="hideDialog()"
        >
            <span class="ml-1">{{ "BTN.CANCEL" | translate }}</span>
        </button>
        <button
            pButton
            pRipple
            icon="pi pi-check"
            class="p-button-primary"
            (click)="onSubmit()"
        >
            <span class="ml-1">{{ "BTN.SAVE" | translate }}</span>
        </button>
    </ng-template>
</p-dialog>
