.layout-container {
    .layout-content-wrapper {
        background-color: #92c884;
        .layout-content {
            height: 100%;
            border-top-right-radius: 30px;
            background-color: var(--surface-ground);
            border-top: unset !important;
            box-shadow: unset !important;
        }
    }
}
@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
    .outlet {
        width: 100%;
    }
}
