<div class="card">
    <p-table
        #dt
        [value]="branch"
        [paginator]="true"
        [rows]="10"
        (onLazyLoad)="filter($event)"
        [loading]="isLoadingTable"
        [showCurrentPageReport]="true"
        responsiveLayout="scroll"
        currentPageReportTemplate="{{ 'TRANSLATOR.CURRENTPAGE' | translate }}"
        [rowsPerPageOptions]="[10, 25, 50]"
    >
        <ng-template pTemplate="caption">
            <div
                class="flex flex-wrap gap-2 align-items-center justify-content-between"
            >
                <span
                    class="p-input-icon-left w-full sm:w-20rem flex-order-1 sm:flex-order-0"
                >
                    <i class="pi pi-search"></i>
                    <input
                        pInputText
                        type="text"
                        placeholder="{{ 'TRANSLATOR.SEARCH' | translate }}"
                        class="w-full"
                    />
                </span>
                <button
                    pButton
                    class="p-button-outlined w-full sm:w-auto flex-order-0 sm:flex-order-1"
                    icon="pi pi-user-plus"
                    label="{{ 'TRANSLATOR.ADD_NEW' | translate }}"
                    (click)="openCreateModal()"
                ></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th class="white-space-nowrap" style="width: 5%">{{ "TRANSLATOR.NO" | translate }}</th>
                <th class="white-space-nowrap" style="width: 15%">{{ "MANAGE_BRANCH.CODE" | translate }}</th>
                <th class="white-space-nowrap" style="width: 20%">{{ "MANAGE_BRANCH.TITLE" | translate }}</th>
                <th class="white-space-nowrap">{{ "MANAGE_BRANCH.ADDRESS" | translate }}</th>
                <th class="white-space-nowrap text-center" style="width: 10%">
                    {{ "MANAGE_BRANCH.ISACTIVE" | translate }}
                </th>
                <th class="white-space-nowrap text-center" style="width: 15%">
                    {{ "MANAGE_BRANCH.ISACTIVE" | translate }}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-branch let-rowIndex="rowIndex">
            <tr>
                <td>{{ rowIndex + 1 }}</td>
                <td>
                    <span class="image-text">{{ branch.code }}</span>
                </td>
                <td>{{ branch.title }}</td>
                <td>
                    {{ branch.branchLocation?.districtTitle }} -
                    {{ branch.branchLocation?.provinceTitle }},
                    {{ branch.branchLocation?.countryTitle }}
                </td>
                <td class="text-center">
                    <span class="product-badge">{{
                        branch.isActive ? "done" : "close"
                    }}</span>
                </td>
                <td class="text-center">
                    <div class="flex justify-content-center">
                        <button
                            pButton
                            pRipple
                            icon="pi pi-pencil"
                            class="p-button-rounded p-button-success mr-2"
                            (click)="editProduct(branch)"
                        ></button>
                        <button
                            pButton
                            pRipple
                            icon="pi pi-trash"
                            class="p-button-rounded p-button-warning"
                            (click)="deleteProduct(branch)"
                        ></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<app-branch-create-edit
    #modalCreateEditBranch
    [branchDetail]="branchDetail"
></app-branch-create-edit>
<p-dialog
    [(visible)]="deleteProductDialog"
    header="Confirm"
    [modal]="true"
    [style]="{ width: '450px' }"
>
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>{{ "TRANSLATOR.CONFIRM_DELETE" | translate }} {{ delectItem?.title }} ?</span>
    </div>
    <ng-template pTemplate="footer">
        <button
            pButton
            pRipple
            icon="pi pi-times"
            class="p-button-text"
            (click)="deleteProductDialog = false"
        ><span class="ml-1">{{ "BTN.RETURN" | translate }}</span></button>
        <button
            pButton
            pRipple
            icon="pi pi-check"
            class="p-button-danger"
            (click)="confirmDelete()"
        ><span class="ml-1">{{ "BTN.DELETE" | translate }}</span></button>
    </ng-template>
</p-dialog>
