body {
    overflow: hidden !important;
}
.form-login {
    position: fixed;
    top: 10%;
    bottom: 10%;
    right: 0;
    left: 0;
    margin: auto;
    width: 30%;
    height: 90%;
    border-radius: 25px;
    z-index: 9999;
    background-color: #fff !important;
    .icon-close {
        padding: 10px;
        position: absolute;
        right: 0;
        top: 0;
        padding: 15px;
        cursor: pointer;
        &:hover {
            opacity: 0.6;
        }
    }
    .forgot-password {
        &:hover {
            opacity: 0.8;
        }
    }
    .sign-up {
        &:hover {
            opacity: 0.8;
        }
    }
}
.p-component-overlay {
    z-index: 1000 !important;
}
@media (max-width: 768px) {
    .form-login {
        top: 0;
        bottom: 0;
        height: 100% !important;
        width: 100% !important;
        border-radius: unset;
    }
    .icon-close {
        top: 5px !important;
        right: 5px !important;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .form-login {
        width: 60% !important;
    }
}
@media (min-width: 992px) {
    .form-login {
        width: 50% !important;
    }
}
