<div class="card">
    <div class="grid">
            <div class="mb-5">
                <button
                    pButton
                    icon="pi pi-angle-left"
                    pRipple
                    label=" {{ 'BTN.RETURN' | translate }}"
                    class="w-auto"
                    (click)="navigateToListBooking()"
                ></button>
           
        </div>
        <div class="grid formgrid p-fluid">
            <div class="field mb-4 col-12 md:col-6 label-container">
                <label for="name" class="font-medium text-900 mr-3"> {{ "MANAGE_BRANCH.CODE" | translate }}:</label>
                <input id="name" type="text" [value]="bookingId" class="w-6" pInputText [disabled]="true" />
            </div>
            <div class="field mb-4 col-12 md:col-6 label-container">
                <label for="phone-number" class="font-medium text-900 mr-3">{{ "FIELDS.BOOKING_DATE" | translate }}: </label>
                <input
                    id="phone-number"
                    type="text"
                    value="{{ bookingDetail.bookingDate | date : 'dd/MM/yyyy' }}"
                    class="w-6"
                    pInputText
                    [disabled]="true"
                />
            </div>
            <div class="field mb-4 col-12 md:col-6 label-container">
                <label for="fromTime" class="font-medium text-900 mr-3">{{ "FIELDS.FROM" | translate }}: </label>
                <input
                    id="fromTime"
                    type="text"
                    value="{{ bookingDetail.fromTime | date : 'hh: mm' }}"
                    class="w-6"
                    pInputText
                    [disabled]="true"
                />
            </div>
            <div class="field mb-4 col-12 md:col-6 label-container">
                <label for="fromTo" class="font-medium text-900 mr-3">{{ "FIELDS.TO" | translate }}: </label>
                <input
                    id="fromTo"
                    type="text"
                    value="{{ bookingDetail.toTime | date : 'hh: mm' }}"
                    class="w-6"
                    pInputText
                    [disabled]="true"
                />
            </div>
            <div class="field mb-4 col-12 md:col-6 label-container">
                <label for="note" class="font-medium text-900 mr-3">{{ "FIELDS.NOTE" | translate }}: </label>
                <input id="note" type="text" [value]="bookingDetail.note" class="w-6" pInputText [disabled]="true" />
            </div>
            <div class="field mb-4 col-12 md:col-6 label-container">
                <label for="serviceName" class="font-medium text-900 mr-3">{{ "FIELDS.SERVICE" | translate }}: </label>
                <input id="serviceName" type="text" [value]="serviceName" class="w-6" pInputText [disabled]="true" />
            </div>
        </div>
    </div>
</div>
