.card {
    padding: 5%;
}
.label-container {
    left: auto;
    display: table;
    table-layout: fixed;
}

.label-container label {
    display: table-cell;
    width: 40%;
}
label{
margin-left: 10px;
}
