<div class="card">
    <p-toast></p-toast>
    <p-table #dt [paginator]="true" [value]="employees" [rows]="5"
        [showCurrentPageReport]="true" responsiveLayout="scroll"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5,15,25]"
        [globalFilterFields]="['id','name','phoneNumber']">
        <ng-template pTemplate="caption">
            <div
                class="flex flex-wrap gap-2 align-items-center justify-content-end">
                <div>
                    <span
                        class="p-input-icon-left w-full sm:w-20rem flex-order-1 sm:flex-order-0 mr-3">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text"
                            (input)="onGlobalFilter(dt, $event)"
                            placeholder="Tên, Email" class="w-full" />
                    </span>
                </div>
                <span>
                    <button pButton (click)="navigateBackToListWorkshift()"
                        class="sm:w-auto flex-order-0 sm:flex-order-1 mr-2 p-button-info  p-button-outlined"><i
                            class="pi pi-angle-left"></i><span>{{ 'TRANSLATOR.RETURN' | translate }}</span></button>
                    <button pButton (click)="showDialog()"
                        [disabled]="selectedObjects.length ===0"
                        class="sm:w-auto flex-order-0 sm:flex-order-1 p-button-info  p-button-outlined"><span>{{ 'TRANSLATOR.MOVE' | translate }}</span> <i class="pi pi-angle-right"></i></button>
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th class="white-space-nowrap" *ngIf="employees.length > 0"
                    style="width:10%"><input *ngIf="employees.length > 0"
                        type="checkbox"
                        [checked]="selectedObjects.length === employees.length"
                        (change)="toggleAllChecked()" class="custom-checkbox"></th>
                <th
                    pSortableColumn="id" class="white-space-nowrap"
                    style="width:15%">{{ "FIELDS.NAME" | translate }} <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="fromTime" class="white-space-nowrap"
                    style="width:20%">{{ 'FIELDS.NAME' | translate }} <p-sortIcon
                        field="country.name"></p-sortIcon></th>
                <th pSortableColumn="date" class="white-space-nowrap"
                    style="width:25%">Email </th>
                <th pSortableColumn="timeWord"
                    class="white-space-nowrap" style="width:20%">{{ "FIELDS.PHONE" | translate }}</th>
                <th pSortableColumn="timeWord"
                    class="white-space-nowrap" style="width:30%">{{ "FIELDS.CURRENT_SHIFT" | translate }}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-employees let-rowIndex="rowIndex">
            <ng-container *ngIf="isSkeleton ; else showTable">
                <tr>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                </tr>
            </ng-container>
            <ng-template #showTable>
                <tr>
                    <td><input type="checkbox"
                            [checked]="isSelected(employees.id)"
                            (change)="toggleObject(employees.id)"
                            class="custom-checkbox"></td>
                    <td>{{rowIndex+1}}</td>
                    <td>{{employees.name}}</td>
                    <td>{{employees.email}}</td>
                    <td>{{employees.phoneNumber}}</td>
                    <td>{{nameWorkshift}}</td>
                </tr>
            </ng-template>
        </ng-template>
    </p-table>

    <p-dialog header="{{ 'TRANSLATOR.MOVE' | translate }}" [(visible)]="visible" [modal]="true"
        [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
        <p-table #dt [paginator]="true" [value]="workshifts" [rows]="5"
            [showCurrentPageReport]="true" responsiveLayout="scroll"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[5,15,25]"
            [globalFilterFields]="['id','name','phoneNumber']">
            <ng-template pTemplate="header">
                <tr>
                    <th
                        pSortableColumn="id" class="white-space-nowrap"
                        style="width:25%">{{ "FIELDS.NAME" | translate }} <p-sortIcon field="id"></p-sortIcon></th>
                    <th pSortableColumn="fromTime" class="white-space-nowrap"
                        style="width:25%">{{ 'FIELDS.NAME' | translate }} <p-sortIcon
                            field="country.name"></p-sortIcon></th>
                    <th pSortableColumn="date" class="white-space-nowrap"
                        style="width:25%">{{ 'FIELDS.TIME_WORK' | translate }} </th>
                    <th pSortableColumn="timeWord"
                        class="white-space-nowrap" style="width:13%">{{ 'FIELDS.NUMBER_EMPLOYEE' | translate }}</th>
                    <th style="width:25%"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-workshifts let-rowIndex="rowIndex">
                <ng-container *ngIf="isSkeleton ; else showTable">
                    <tr>
                        <td><p-skeleton></p-skeleton></td>
                        <td><p-skeleton></p-skeleton></td>
                        <td><p-skeleton></p-skeleton></td>
                        <td><p-skeleton></p-skeleton></td>
                        <td><p-skeleton></p-skeleton></td>
                    </tr>
                </ng-container>
                <ng-template #showTable>
                    <tr>
                        <td>{{rowIndex+1}}</td>
                        <td>{{workshifts.name}}</td>
                        <td>{{workshifts.fromTime}} - {{workshifts.toTime}}</td>
                        <td style="text-align: center;">{{workshifts.numberEmployee}}</td>
                        <td> <button pButton pRipple type="submit"
                                (click)="changeWorkshiftByIdEmployee(workshifts.id)">{{ 'TRANSLATOR.MOVE' | translate }}<i
                                    class="pi pi-angle-right"></i></button></td>
                    </tr>
                </ng-template>
            </ng-template>
        </p-table>
    </p-dialog>
</div>