<p-toast [key]="keyToast"></p-toast>
<div class="surface-ground flex align-items-center justify-content-center overflow-x-hidden py-7" [ngClass]="{ 'p-input-filled': filledInput }">
    <form
        class="surface-card py-4 px-5 sm:px-7 shadow-2 flex flex-column w-7 form-register"
        style="border-radius: 14px"
        [formGroup]="formCreateCustomer"
        (ngSubmit)="onSubmit()"
    >
        <div class="flex justify-content-between align-items-center">
            <h5 class="font-bold mr-auto block mb-1 text-4xl">{{ "AUTH.CREATE_ACCOUNT" | translate }}</h5>
            <div class="align-items-center flex signin">
                <span class="text-color-secondary title-no-account"> {{ "AUTH.YOU_HAVE_ACCOUNT" | translate }} </span>
                <button type="button" class="btn btn-secondary ml-3" (click)="navigateToLanding()">
                    {{ "TRANSLATOR.SIGN_IN" | translate }}
                </button>
            </div>
        </div>
        <hr style="border-top: 1px solid #99a6b3" />
        <div class="p-fluid mt-5">
            <div class="p-formgrid grid">
                <div class="field col">
                    <label htmlFor="name">{{ "FIELDS.NAME" | translate }}<span class="text-red-500 ml-1 text-900">*</span></label>
                    <input pInputText id="name" [pKeyFilter]="rgName" formControlName="customerName" />
                    <div *ngIf="f['customerName'].invalid && f['customerName'].touched && f['customerName'].errors" class="text-red-500 mt-2 block">
                        <div *ngIf="f['customerName'].errors['required']">{{ "INVALID.NAME" | translate }}</div>
                    </div>
                </div>
                <div class="field col">
                    <label>{{ "FIELDS.BIRTH_DAY" | translate }}</label>
                    <p-calendar
                        dateFormat="dd/mm/yy"
                        [showIcon]="true"
                        [readonlyInput]="true"
                        [minDate]="minDate"
                        [maxDate]="maxDate"
                        [defaultDate]="maxDate"
                        formControlName="dateOfBirth"
                        class="p-button-secondary"
                    >
                    </p-calendar>
                </div>
            </div>
        </div>
        <div class="p-fluid">
            <div class="field mb-5">
                <label htmlFor="phoneNumber">{{ "FIELDS.PHONE" | translate }}<span class="text-red-500 ml-1 text-900">*</span></label>
                <p-inputMask mask="9999999999" slotChar="" formControlName="phoneNumber" [showClear]="true" [autoClear]="false"></p-inputMask>
                <div *ngIf="f['phoneNumber'].invalid && f['phoneNumber'].touched && f['phoneNumber'].errors" class="text-red-500 mt-2 block">
                    <div *ngIf="f['phoneNumber'].errors['required']">{{ "INVALID.PHONE" | translate }}</div>
                    <div *ngIf="f['phoneNumber'].hasError('minlength')">{{ "INVALID.MIN_LENGTH_PHONE" | translate }}</div>
                </div>
                <div class="text-red-500 mt-2 block" *ngIf="f['phoneNumber'].hasError('formatPhoneValidator')">
                    {{ "INVALID.FORMAT_NUMBER" | translate }}.
                </div>
            </div>

            <div class="field mb-5">
                <label>{{ "FIELDS.USERNAME" | translate }}<span class="text-red-500 ml-1 text-900">*</span></label>
                <input pInputText [pKeyFilter]="rgPassword" formControlName="username" required />
                <div *ngIf="f['username'].invalid && (f['username'].touched || submitted) && f['username'].errors" class="text-red-500 mt-2 block">
                    <div *ngIf="f['username'].errors['required']">{{ "INVALID.USERNAME" | translate }}</div>
                </div>
            </div>

            <div class="field mb-5">
                <label>{{ "FIELDS.PASSWORD" | translate }}<span class="text-red-500 ml-1 text-900">*</span></label>
                <p-password formControlName="password" [toggleMask]="true" required [feedback]="false"></p-password>
                <span class="mt-1 block" *ngIf="submitted === false">{{ "AUTH.NOTIFY_PASSWORD" | translate }} </span>
                <div *ngIf="f['password'].invalid && (f['password'].touched || submitted) && f['password'].errors" class="text-red-500 mt-2 block">
                    <div *ngIf="f['password'].errors['required']">{{ "INVALID.PASSWORD" | translate }}</div>
                    <div *ngIf="f['password'].hasError('minlength')">{{ "INVALID.MIN_LENGTH_PASSWORD" | translate }}</div>
                </div>
                <div class="text-red-500 mt-2 block" *ngIf="f['password'].hasError('passwordUsernameMatch')">
                    {{ "INVALID.USERNAME_MATCH_PASSWORD" | translate }}.
                </div>
            </div>
            <div class="field mb-5">
                <label for="address" class="font-medium text-900">{{ "FIELDS.ADDRESS" | translate }}</label>
                <textarea id="address" [pKeyFilter]="rgAddress" formControlName="address" pInputTextarea rows="2" [autoResize]="true"></textarea>
            </div>
        </div>
        <div>
            <div class="w-11 flex justify-content-center m-auto pt-4" style="border-top: 1px solid #d8e3ed">
                <button
                    type="submit"
                    [loading]="isLoadingSubmit"
                    pButton
                    pRipple
                    label="{{ 'AUTH.CREATE_ACCOUNT' | translate }}"
                    class="mb-2 p-button-success"
                ></button>
            </div>
        </div>
    </form>
</div>

<app-config [minimal]="true"></app-config>
