.img-container {
    position: relative;
    width: 70px;
    height: 70px;

    .pi-times {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
    }

    img {
        display: block;
    }
}

.hoverClick {
    cursor: pointer;
}

img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    object-fit: cover;
}