<div class="card">
    <span class="text-900 text-xl font-bold mb-4 block">{{
        "MANAGE_SERVICE.TITLE_CREATE"
        | translate }}</span>
    <p-toast [key]="keyToast"></p-toast>
    <div class="grid">
        <div class="col-12 lg:col-12">
            <form [formGroup]="form" (ngSubmit)="createService()">
                <div class="col-12 lg:col-12">
                    <div class="grid formgrid p-fluid">
                        <div class="field mb-4 col-12 md:col-10">
                            <label for="name" class="font-medium text-900">{{
                                "FIELDS.NAME" | translate }}<span
                                    style="color: red"> *</span></label>
                            <input id="name" type="text" pInputText
                                formControlName="name" />
                            <p style="color: red"
                                *ngIf="checkValidInput && form.get('name')?.errors?.['required']">
                                * {{ "MANAGE_BRANCH.VALID_INPUT" | translate
                                }}
                            </p>
                            <p style="color: red"
                                *ngIf="form.get('name')?.errors?.['maxlength']">
                                {{"INVALID.MAX_LENGTH_NAME" | translate}}
                            </p>
                            <p style="color: red"
                                *ngIf="form.get('name')?.errors?.['pattern']">
                                {{"INVALID.PATTERN_NAME" | translate}}
                            </p>
                        </div>
                        <div class="field mb-4 col-12 md:col-10">
                            <label for="avatar" class="font-medium text-900">{{
                                "FIELDS.IMAGE" | translate }}<span
                                    style="color: red"> *</span></label>
                            <div class="grid"
                                style="position: relative">
                                <div class="lg:col-12 col-12 mt-4"
                                    style="position: relative">
                                    <input
                                        id="imageUpload"
                                        type="file"
                                        class="w-100 opacity-0 cursor-pointer"
                                        accept="image/*"
                                        style="
                                                position: absolute;
                                                width: 39px;
                                                height: 39px;
                                                right: 50%;
                                                top: 50%;
                                                z-index: 20;
                                                translate: 50% -50%;
                                            "
                                        multiple
                                        (change)="uploadFile($event)" />
                                    <button
                                        [disabled]="imageSelected.length > 5"
                                        class="p-button-primary change-input-image w-10rem"
                                        pButton
                                        pRipple
                                        icon="pi pi-check"
                                        label="Upload file"
                                        pTooltip="Chọn ảnh đại diện"
                                        tooltipPosition="top">
                                        <div
                                            style="position: absolute"
                                            class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow">
                                            <i
                                                class="fa fa-pen icon-sm text-muted"></i>
                                        </div>
                                    </button>
                                </div>
                                <div
                                    class="col-2 ml-3 lg:col-1 mt-4 image-container"
                                    *ngFor="let image of imageSelected">
                                    <img class="shadow-4"
                                        #image
                                        (error)="image.src = 'assets/layout/images/blank.png'"
                                        [src]="image.url ? image.url : 'assets/layout/images/blank.png'"
                                        alt="Trống" />
                                    <div class="delete-icon"
                                        (click)="removeImageSelected(image)">x</div>
                                </div>
                            </div>
                            <p style="color: red"
                                *ngIf="checkValidImg">
                                * {{ "MANAGE_BRANCH.VALID_INPUT" | translate
                                }}
                            </p>
                            <p style="color: red" class="mt-2"
                                *ngIf="imageSelected.length > 5">
                                * {{ "INVALID.MAX_LENGTH_IMAGE" | translate
                                }}
                            </p>
                        </div>
                        <div class="field mb-4 col-12 md:col-10">
                            <label for="phone" class="font-medium text-900">{{
                                "EMPLOYEE_FIELDS.DESRIPTION" | translate }}</label>
                            <textarea id="phone" type="text" pInputText
                                formControlName="description"></textarea>
                            <p style="color: red"
                                *ngIf="form.get('description')?.errors?.['maxlength']">
                                {{"INVALID.MAX_LENGTH_DISCRIPTION" | translate}}
                            </p>
                        </div>
                        <div class="field mb-4 col-12 md:col-5">
                            <label for="address"
                                class="font-medium text-900">{{
                                "FIELDS.PRICE" | translate }} (VND)<span
                                    style="color: red"> *</span></label>
                            <p-inputNumber
                                mask="99999999999999"
                                slotChar
                                placeholder="$"
                                formControlName="price"
                                [showClear]="true"
                                inputId="locale-us" mode="decimal"
                                locale="en-US"
                                [maxlength]="15"></p-inputNumber>
                            <p style="color: red"
                                *ngIf="checkValidInput && form.get('price')?.errors?.['required'] ">
                                * {{ "MANAGE_BRANCH.VALID_INPUT" | translate
                                }}
                            </p>
                        </div>
                        <div class="field mb-4 col-12 md:col-5">
                            <label for="address"
                                class="font-medium text-900">{{
                                "FIELDS.SERVICE_TIME" | translate }}<span
                                    style="color: red"> *</span></label>
                            <p-dropdown
                                placeholder="{{ 'FIELDS.SERVICE_TIME' | translate }} ({{'FIELDS.MINUTE' | translate }})"
                                formControlName="serviceTime"
                                optionValue="time"
                                optionLabel="time"
                                emptyFilterMessage="Không tìm thấy dữ liệu"
                                emptyMessage="Không tìm thấy dữ liệu"
                                [options]="serviceTimes"
                                [filter]="true"
                                filterBy="name"
                                [showClear]="true">
                            </p-dropdown>
                            <p style="color: red"
                                *ngIf="checkValidInput && form.get('serviceTime')?.errors?.['required']">
                                * {{ "MANAGE_BRANCH.VALID_INPUT" | translate
                                }}
                            </p>
                        </div>
                        <div class="col-12 md:col-6 lg:col-4 mt-4">
                            <div class="grid">
                                <div class="col-6 md:col-5 lg:col-6">
                                    <button pButton pRipple [loading]="loading"
                                        [disabled]="validImageNumber || checkValidImg"
                                        label="{{ 'BTN.SAVE' | translate }}"
                                        icon="pi pi-check" type="submit"></button>
                                </div>
                                <div class="col-6 md:col-6 lg:col-6">
                                    <button
                                        type="button"
                                        pButton
                                        pRipple
                                        label="{{ 'BTN.CANCEL' | translate }}"
                                        icon="pi pi-times"
                                        (click)="navigateBackServiceList()"
                                        class="p-button-outlined"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>