<p-toast></p-toast>
<div class="card">
    <form [formGroup]="formFilter">
        <div class="row grid p-fluid">
            <div class="col-12 sm:col-3">
                <input pInputText type="text"
                    placeholder="{{ 'TRANSLATOR.SEARCH' | translate }}"
                    formControlName="keyword" />
            </div>
        </div>
        <div class="row">
            <div class="col-12 group-button-filter">
                <button
                    pButton
                    pRipple
                    label="{{ 'TRANSLATOR.SEARCH' | translate }}"
                    class="w-auto mr-2 mb-2"
                    icon="pi pi-search"
                    (click)="filterWorkshift()"></button>
                <button
                    pButton
                    pRipple
                    label="{{ 'BTN.REMOVE_CONDITION' | translate }}"
                    class="w-auto mr-2 mb-2"
                    (click)="clearFilter()"
                    icon="pi pi-exclamation-triangle"></button>
            </div>
        </div>
    </form>
</div>
<div class="card">
    <p-table
        #dt
        [value]="workshifts"
        [paginator]="true"
        [rows]="5"
        [lazy]="true"
        (onLazyLoad)="filter($event)"
        [totalRecords]="totalRecords"
        [first]="firstPaging"
        [showCurrentPageReport]="true"
        responsiveLayout="scroll"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 15, 25]"
        [globalFilterFields]="['name', 'phoneNumber']">
        <ng-template pTemplate="caption">
            <div
                class="flex flex-wrap gap-2 align-items-center justify-content-between">
                <div></div>
                <span>
                    <button pButton
                        class="sm:w-auto flex-order-0 sm:flex-order-1"
                        icon="pi pi-plus-circle"
                        label="{{ 'TRANSLATOR.ADD_NEW' | translate }}"
                        (click)="navigateToCreateWorkshift()"></button>
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id" class="white-space-nowrap"
                    style="width:10%">{{ "TRANSLATOR.NO" | translate }}
                    <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="fromTime" class="white-space-nowrap"
                    style="width:20%">{{ 'FIELDS.NAME' | translate }}
                    <p-sortIcon
                        field="country.name"></p-sortIcon></th>
                <th pSortableColumn="date" class="white-space-nowrap"
                    style="width:20%">{{ "EMPLOYEE_FIELDS.TIME_WORK" | translate
                    }}</th>
                <th pSortableColumn="timeWord"
                    class="white-space-nowrap" style="width:20%">{{
                    "EMPLOYEE_FIELDS.WORKING_HOURS" | translate }}</th>
                <th pSortableColumn="numberEmployee"
                    class="white-space-nowrap" style="width:20%">{{
                    "EMPLOYEE_FIELDS.NUMBER_EMPLOYEE" | translate }}
                </th>
                <th pSortableColumn="description"
                    class="white-space-nowrap" style="width:20%">{{
                    "EMPLOYEE_FIELDS.DESRIPTION" | translate }}
                </th>
                <th pSortableColumn="isDefault"
                    class="white-space-nowrap" style="width:20%">{{
                    "TRANSLATOR.DEFAULT" | translate }}
                </th>
                <th style="width:25%"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-workshifts let-rowIndex="rowIndex">
            <ng-container *ngIf="isSkeleton ; else showTable">
                <tr>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                </tr>
            </ng-container>
            <ng-template #showTable>
                <tr>
                    <td>{{ rowIndex + 1 }}</td>
                    <td>{{workshifts.name}}</td>
                    <td>{{workshifts.fromTime}} h - {{workshifts.toTime}} h</td>
                    <td>{{workshifts.timeWork}} h</td>
                    <td>{{workshifts.numberEmployee}}</td>
                    <td>{{workshifts.description}}</td>
                    <td style="text-align: center;">
                        <p-radioButton [(ngModel)]="workshifts.isDefault"
                            [value]="true" [disabled]="true"></p-radioButton>
                    </td>
                    <td>
                        <div class="flex">
                            <button pButton pRipple icon="pi pi-eye"
                                (click)="navigateToDetalWorkshift(workshifts.id, workshifts.name)"
                                class="p-button-rounded p-button-secondary mr-2"></button>
                            <button pButton pRipple icon="pi pi-pencil"
                                class="p-button-rounded p-button-success mr-2"
                                (click)="navigateToUpdateWorkshift(workshifts.id)"></button>
                            <button pButton pRipple icon="pi pi-trash"
                                class="p-button-rounded p-button-warning mr-2"
                                (click)="confirmDelete(workshifts)"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </ng-template>
    </p-table>
    <p-dialog [(visible)]="deleteProductsDialog"
        header="{{ 'TRANSLATOR.DETAIL' | translate }}" [modal]="true"
        [style]="{width:'450px'}">
        <div class="flex align-items-center justify-content-center">
            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
            <span *ngIf="workshift"> {{ 'TRANSLATOR.CONFIRM_DELETE' | translate
                }} <b>{{workshift.name}}</b>?</span>
        </div>
        <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-times" class="p-button-text"
                label="{{ 'BTN.CANCEL' | translate }}"
                (click)="deleteProductsDialog = false"></button>
            <button pButton pRipple icon="pi pi-check" class="p-button-text"
                (click)="deleteConfirmed()"
                label="{{ 'BTN.SAVE' | translate }}"></button>
        </ng-template>
    </p-dialog>
</div>