<div class="card">
    <p-toast></p-toast>
    <p-table #dt [paginator]="true" [value]="workshifts" [rows]="5"
        [showCurrentPageReport]="true" responsiveLayout="scroll"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5,15,25]"
        [globalFilterFields]="['name','fromTime', 'toTime', 'numberEmployee']">
        <ng-template pTemplate="caption">
            <div
                class="flex flex-wrap gap-2 align-items-center justify-content-between">
                <div>
                    <span
                        class="p-input-icon-left w-full sm:w-20rem flex-order-1 sm:flex-order-0 mr-3">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text"
                            (input)="onGlobalFilter(dt, $event)"
                            placeholder="{{ 'TRANSLATOR.SEARCH' | translate }}" class="w-full" />
                    </span>
                </div>
                <span>
                    <button pButton
                        class="sm:w-auto flex-order-0 sm:flex-order-1"
                        icon="pi pi-plus-circle" label="{{ 'TRANSLATOR.ADD_NEW' | translate }}"
                        (click)="navigateToCreateWorkshift()"></button>
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id" class="white-space-nowrap"
                    style="width:10%">{{ "FIELDS.NAME" | translate }} <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="fromTime" class="white-space-nowrap"
                    style="width:20%">{{ 'FIELDS.NAME' | translate }} <p-sortIcon
                        field="country.name"></p-sortIcon></th>
                <th pSortableColumn="date" class="white-space-nowrap"
                    style="width:20%">{{ 'FIELDS.TIME_WORK' | translate }}</th>
                <th pSortableColumn="timeWord"
                    class="white-space-nowrap" style="width:20%">{{ 'FIELDS.TIME' | translate }}</th>
                <th pSortableColumn="numberEmployee"
                    class="white-space-nowrap" style="width:20%">{{ 'FIELDS.NUMBER_EMPLOYEE' | translate }}
                </th>
                <th pSortableColumn="description"
                    class="white-space-nowrap" style="width:20%">{{ 'FIELDS.DESRIPTION' | translate }}
                </th>
                <th pSortableColumn="isDefault"
                    class="white-space-nowrap" style="width:20%">{{ 'FIELDS.DEFAULT' | translate }}
                </th>
                <th style="width:25%"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-workshifts let-rowIndex="rowIndex">
            <ng-container *ngIf="isSkeleton ; else showTable">
                <tr>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                </tr>
            </ng-container>
            <ng-template #showTable>
                <tr>
                    <td>{{ rowIndex + 1 }}</td>
                    <td>{{workshifts.name}}</td>
                    <td>{{workshifts.fromTime}} h - {{workshifts.toTime}} h</td>
                    <td>{{workshifts.timeWord}} h</td>
                    <td>{{workshifts.numberEmployee}}</td>
                    <td>{{workshifts.description}}</td>
                    <td style="text-align: center;">
                        <p-radioButton [(ngModel)]="workshifts.isDefault"
                            [value]="true" [disabled]="true"></p-radioButton>
                    </td>
                    <td>
                        <div class="flex">
                            <button pButton pRipple icon="pi pi-eye"
                                (click)="navigateToDetalWorkshift(workshifts.id, workshifts.name)"
                                class="p-button-rounded p-button-secondary mr-2"></button>
                            <button pButton pRipple icon="pi pi-pencil"
                                class="p-button-rounded p-button-success mr-2"
                                (click)="navigateToUpdateWorkshift(workshifts.id)"></button>
                            <button pButton pRipple icon="pi pi-trash"
                                class="p-button-rounded p-button-warning mr-2"
                                (click)="confirmDelete(workshifts)"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </ng-template>
    </p-table>

    <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true"
        [style]="{width:'450px'}">
        <div class="flex align-items-center justify-content-center">
            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
            <span *ngIf="workshift"> {{ 'TRANSLATOR.CONFIRM_DELETE' | translate }} <b>{{workshift.name}}</b>?</span>
        </div>
        <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-times" class="p-button-text"
                label="No" (click)="deleteProductsDialog = false"></button>
            <button pButton pRipple icon="pi pi-check" class="p-button-text"
                (click)="deleteConfirmed()"
                label="Yes"></button>
        </ng-template>
    </p-dialog>
</div>